
/****************************************
  ==== RESETS
****************************************/

* {
    margin: 0;
    padding: 0;
}

::-moz-selection {
    color: #333;
    text-shadow: none;
}

::selection {
    color: #333;
    text-shadow: none;
}

.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clear {
    display: inline-table;
    clear: both;
}
/* Hides from IE-mac \*/ * html .clear {
    height: 1%;
}

.clear {
    display: block;
}
/* End hide from IE-mac */

/****************************************
  ==== LAYOUT
****************************************/

html, body {
    width: 100%;
    height: 100%;
    font-family: monospace;
}

body {
}

/*canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}*/

body.template {
}

.template .template-wrap {
}

    .template .template-wrap canvas {
    }

/****************************************
  ==== LOADING
****************************************/

div#loadingBox {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    text-align: center;
}

div#bgBar {
    position: absolute;
    width: 200px;
    margin-left: -100px;
    left: 50%;
    height: 2px;
    display: block;
    background-color: #333;
}

div#progressBar {
    left: 50%;
    position: absolute;
    margin-left: -100px;
    width: 0px;
    height: 2px;
    background-color: red;
    border-radius: 2px;
}

div#bgBar {
    border-radius: 2px;
}

p#loadingInfo {
    color: red;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
    font-family: "Monaco", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 8px;
    margin-top: 10px;
}

.template-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

    .template-wrap canvas {
        margin: 0 0 10px 0;
        position: relative;
        z-index: 9;
        box-shadow: 0 10px 30px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    }

.fullscreen {
    float: right;
    position: relative;
    z-index: 10;
}

body.template {
}

.template .template-wrap {
}

    .template .template-wrap canvas {
    }
