﻿@model ALT.Web.Management.Models.Login.LoginViewModel
@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Models
@using ALT.Web.Management.Core;
@{
    Layout = null;
    ViewBag.Title = "Login";
    var idexLogin = Session[ItemKeys.LoginTimesKey] == null ? 0 : Session[ItemKeys.LoginTimesKey];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login AsianLiveTech</title>
    <meta name="description" content="User login page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/logo.ico")" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/custome-javascript")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body class="hold-transition login-page" style="background-color:#d2d6de">
    <div class="login-box">
        <div class="login-logo">
            <span><b>Agent</b> Management</span>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "FormLogin", ReturnUrl = ViewBag.ReturnUrl }))
            {
                <div class="form-group has-feedback">
                    <input type="text" id="UserName" name="UserName" class="form-control input-sm" placeholder="Username" value="@Model.Username">
                    <span class="glyphicon  icon glyphicon-user form-control-feedback" style="top: 0px !important;"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" id="Password" name="Password" class="form-control input-sm" placeholder="Password">
                    <span class="fa fa-lock form-control-feedback form-control-feedback" style="top: 0px !important;"></span>
                </div>
                <div class="form-group has-feedback">
                    @if ((int)idexLogin > 2)
                    {
                        @Html.Hidden(MvcApplication.MultipleParameterKey, 1)
                        @Html.Captcha("", "", 5, new ParameterModel(MvcApplication.MultipleParameterKey, 1))
                    }
                </div>
                <div class="form-group">
                    <span style="color:red;">
                        @Html.ValidationMessage("ErrorMessageID", new { @class = "error" })
                    </span>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="controls pull-right" style="margin-right: 15px;">
                            <button type="submit" class="btn btn-success input-sm" style="padding: 2px 12px !important;">Sign In</button>
                            <button id="canel" class="btn btn-danger input-sm" style="padding: 2px 12px !important;" onclick="ClearTextBox(); return false;">Canel</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    function ClearTextBox() {
        $('#UserName').val('');
        $('#Password').val('');
        $('#UserName').focus();
    }
</script>
