﻿@using ALT.Common.Models;
@{
    ViewBag.Title = "Transfer";
    PersonType currentPersonType = ALT.Web.Management.Core.AuthManager.AuthIdentity.Type;
    var selectEditOcode = !string.IsNullOrEmpty((string)TempData["ocode"]) ? (string)TempData["ocode"] : @ALT.Web.Management.Core.AuthManager.AuthIdentity.PersonCode;
}
@using ALT.Web.Management.Core;
<input id="current-type" name="" value="@currentPersonType" hidden>
<input id="select-ocode" data-Ocode="@selectEditOcode" hidden />
<div id="content-transfer">
    <section class="content-header" style="padding-top: 0px;">
        <div class="row">
            <ol class="breadcrumb" id="breadcrumb-person" data-bind="foreach : GetBreadcrumbPerson">
                <li>
                    <a href="#" data-bind="text: value ,click: $parent.breadcrumbclickpersondownline.bind(key)"></a>
                </li>
            </ol>
        </div>
    </section>
    <div>
        <div class="transfer-filter" style="margin-left: 15px;">
            <span class="button-checkbox" data-bind="visible : IsShowNonMember()">
                <button type="button" class="btn btn-xs btn-default no-member" data-color="primary" data-no-member="no-member"><i class="state-icon glyphicon glyphicon-check"></i>&nbsp;Non Member</button>
                <input type="checkbox" class="hidden" checked="">
            </span>
            <span class="button-checkbox" data-bind="visible : IsShowMember() ">
                <button type="button" class="btn btn-xs btn-primary member active" data-color="primary" data-member="member"><i class="state-icon glyphicon glyphicon-check"></i>&nbsp;Member</button>
                <input type="checkbox" class="hidden" checked="">
            </span>
        </div>
    </div>

    <div class="content" style="margin-top:0px">
        <div style="position:relative;" data-bind="visible : IsShowCurrentBalance()">
            <div style="float:left;">
                Current available balance:
            </div>
            <div style="float:left;padding-left:10px;" data-bind="foreach: currentByCurrencies">
                <div style="width:100%;" data-bind="attr: { 'id': 'currency_current_' + CurrencyCode() , 'data-value':  value()}">
                    <text data-bind="text: CurrencyCode"></text> : <text data-bind="text: value" class="pull-right"></text>
                </div>
            </div>
        </div>

        <div style="clear:both"></div>
        <div id="no-member" class="box" style="margin-bottom:0 !important" data-bind="visible : IsShowNonMember()">
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                    </div><div class="row">
                        <div class="col-sm-12" style="overflow-x:auto;">
                            <table id="nomember" class="table table-bordered table-striped dataTable input-sm" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row" style="background:#3c8dbc;color:#fff">
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 300px;">No</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 300px;">Downline</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">User name</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">First name</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Last Name</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Type</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Currency</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Credit</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Deposit amount</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Withdraw amount</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 300px;">Action</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 400px;">Transfer history</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach : transfersNonMember">
                                    <!-- ko if: Type() != 'Member' -->
                                    <tr role="row" class="odd" data-bind="style: { background:  Status() == 'Active' ? '' : Status() == 'Suspended' ? 'bisque' : 'rgba(245, 144, 133, 0.72)' }">
                                        <td class="text-center" data-bind="text: index"></td>
                                        <td class="text-center sorting_1">
                                            <a data-bind="visible: TotalDownline()!=0" href="#">
                                                <span class="label label-info" data-bind="click: $parent.personDownline">
                                                    <text data-bind="text: TotalDownline"></text>
                                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                                </span>
                                            </a>
                                            <a data-bind="visible: TotalDownline()==0">
                                                <span class="label label-info">
                                                    <text>-</text>
                                                </span>
                                            </a>
                                        </td>
                                        <td class="text-left" data-bind="text: Username"></td>
                                        <td class="text-left" data-bind="text: Firstname"></td>
                                        <td class="text-left" data-bind="text: Lastname"></td>
                                        <td class="text-left" data-bind="text: Type"></td>
                                        <td class="text-left" style="padding-left: 0px;padding-right: 0px;padding-top:0px;padding-bottom:0px">
                                            <table style="margin-bottom:0px !important;background-color: transparent !important;width:100%;">
                                                <tbody data-bind="foreach: Availables">
                                                    <tr class="border-bottom3c8dbc">
                                                        <td data-bind="text: CurrencyCode" class="pading10px"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="text-right available" style="padding-left: 0px;padding-right: 0px;padding-top:0px;padding-bottom:0px">
                                            <table style="margin-bottom:0px !important;background-color: transparent !important;width:100%;">
                                                <tbody data-bind="foreach: Availables">
                                                    <tr class="border-bottom3c8dbc">
                                                        <td class="pading10px">
                                                            <span data-bind="text: value"></span>
                                                            <i data-bind="currency: key, visible: IsLoading" class="fa fa-spinner fa-spin"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="text-center" style="padding-left: 0px;padding-right: 0px;padding-top:0px;padding-bottom:0px">
                                            <table style="margin-bottom:0px !important;background-color: transparent !important;width:100%;">
                                                <tbody data-bind="foreach: Availables">
                                                    <tr class="border-bottom3c8dbc">
                                                        <td class="pading7px">
                                                            <input id="no-member-deposit" class="no-member-deposit text-right" data-bind="value: DepositAmount, event: {click:$root.clickDeposit, change: $root.changeDeposit, keypress: $root.keypressDeposit}, valueUpdate: 'afterkeydown'" onkeypress="return isNumberKey(event);">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="text-center" style="padding-left: 0px;padding-right: 0px;padding-top:0px;padding-bottom:0px">
                                            <table style="margin-bottom:0px !important;background-color: transparent !important;width:100%;">
                                                <tbody data-bind="foreach: Availables">
                                                    <tr class="border-bottom3c8dbc">

                                                        <td class="pading7px">

                                                            <input id="no-member-withdraw" class="no-member-withdraw text-right" data-bind="value: WithdrawAmount, event: {click:$root.clickWithdraw,change: $root.changeWithdraw,keypress: $root.keypressWithdraw}, valueUpdate: 'afterkeydown'" onkeypress="return isNumberKey(event);">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="text-center" style="padding-left: 0px;padding-right: 0px;padding-top:0px;padding-bottom:0px">
                                            <table style="margin-bottom:0px !important;background-color: transparent !important;width:100%;">
                                                <tbody data-bind="foreach: Availables">
                                                    <tr class="border-bottom3c8dbc">
                                                        <td class="pading8px">
                                                            <button type="button" class="btn btn-success btn-xs" data-bind="click: $root.TransferNoMember">Submit</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" data-toggle="dropdown" class="small-button" style="float:none;"
                                                    data-bind="click: $parent.BindUsernameNoMemberTransactionDetail">
                                                <span class="glyphicon glyphicon-new-window"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div id="content-wrapper" class="pull-right" style="margin-right:14px">
                            <div class="inner clearfix">
                                <section id="main-content">
                                    <div class="text-center">
                                        <ul id="pagination-transfer-non-member" class="pagination-sm"></ul>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="member" class="box" style="margin-bottom:0 !important" data-bind="visible : IsShowMember()">
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                    </div><div class="row">
                        <div class="col-sm-12" style="overflow-x:auto;">
                            <table id="nomember" class="table table-bordered table-striped dataTable input-sm" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row" style="background:#3c8dbc;color:#fff">
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 300px;">No</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 300px;">Downline</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">User name</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">First name</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Last Name</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Type</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Currency</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Credit</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Deposit amount</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Withdraw amount</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 300px;">Action</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 400px;">Transfer history</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach : transfersMember">
                                    <!-- ko if: Type() == 'Member' -->
                                    <tr role="row" class="odd" data-bind="style: { background:  Status() == 'Active' ? '' : Status() == 'Suspended' ? 'bisque' : 'rgba(245, 144, 133, 0.72)' }">
                                        <td class="text-center" data-bind="text: index"></td>
                                        <td class="text-center sorting_1">
                                            <a data-bind="visible: TotalDownline()!=0" href="#">
                                                <span class="label label-info" data-bind="click: $parent.personDownline">
                                                    <text data-bind="text: TotalDownline"></text>
                                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                                </span>
                                            </a>
                                            <a data-bind="visible: TotalDownline()==0">
                                                <span class="label label-info">
                                                    <text>-</text>
                                                </span>
                                            </a>
                                        </td>
                                        <td class="text-left" data-bind="text: Username"></td>
                                        <td class="text-left" data-bind="text: Firstname"></td>
                                        <td class="text-left" data-bind="text: Lastname"></td>
                                        <td class="text-left" data-bind="text: Type"></td>
                                        <td class="text-left" style="padding-left: 0px;padding-right: 0px;padding-top:0px;padding-bottom:0px">
                                            <table style="margin-bottom:0px !important;background-color: transparent !important;width:100%;">
                                                <tbody data-bind="foreach: Availables">
                                                    <tr class="border-bottom3c8dbc">
                                                        <td data-bind="text: CurrencyCode" class="pading10px"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="text-right available" style="padding-left: 0px;padding-right: 0px;padding-top:0px;padding-bottom:0px">
                                            <table style="margin-bottom:0px !important;background-color: transparent !important;width:100%;">
                                                <tbody data-bind="foreach: Availables">
                                                    <tr class="border-bottom3c8dbc">
                                                        <td class="pading10px">
                                                            <span data-bind="text: value"></span>
                                                            <i data-bind="currency: key, visible: IsLoading" class="fa fa-spinner fa-spin"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="text-center" style="padding-left: 0px;padding-right: 0px;padding-top:0px;padding-bottom:0px">
                                            <table style="margin-bottom:0px !important;background-color: transparent !important;width:100%;">
                                                <tbody data-bind="foreach: Availables">
                                                    <tr class="border-bottom3c8dbc">
                                                        <td class="pading7px">
                                                            <input id="no-member-deposit" class="no-member-deposit text-right" data-bind="value: DepositAmount, event: {click:$root.clickDeposit, change: $root.changeDeposit, keypress: $root.keypressDeposit}, valueUpdate: 'afterkeydown'" onkeypress="return isNumberKey(event);">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="text-center" style="padding-left: 0px;padding-right: 0px;padding-top:0px;padding-bottom:0px">
                                            <table style="margin-bottom:0px !important;background-color: transparent !important;width:100%;">
                                                <tbody data-bind="foreach: Availables">
                                                    <tr class="border-bottom3c8dbc">
                                                        <td class="pading7px">
                                                            <input id="no-member-withdraw" class="no-member-withdraw text-right" data-bind="value: WithdrawAmount, event: {click:$root.clickWithdraw,change: $root.changeWithdraw, keypress: $root.keypressWithdraw}, valueUpdate: 'afterkeydown'" onkeypress="return isNumberKey(event);">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="text-center" style="padding-left: 0px;padding-right: 0px;padding-top:0px;padding-bottom:0px">
                                            <table style="margin-bottom:0px !important;background-color: transparent !important;width:100%;">
                                                <tbody data-bind="foreach: Availables">
                                                    <tr class="border-bottom3c8dbc">
                                                        <td class="pading8px">
                                                            <button type="button" class="btn btn-success btn-xs" data-bind="click: $root.TransferNoMember">Submit</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" data-toggle="dropdown" class="small-button" style="float:none;"
                                                    data-bind="click: $parent.BindUsernameNoMemberTransactionDetail">
                                                <span class="glyphicon glyphicon-new-window"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div id="content-wrapper" class="pull-right" style="margin-right:14px">
                            <div class="inner clearfix">
                                <section id="main-content">
                                    <div class="text-center">
                                        <ul id="pagination-transfer-member" class="pagination-sm"></ul>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="transfer-history-no-member" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" data-bind="with: currentUsernameNomember">
                    <button type="button" @*data-bind="click :$root.closex"*@ class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span data-bind="text: Username"></span> - Transaction detail</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" style="margin-bottom: 48px;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5 input-sm">
                                    <label for="inputFirstName" class="col-sm-3 input-sm" style="font-weight:100 !important;">From</label>
                                    <div class="input-group datetimepicker1">
                                        <input type="text" id="datepicker-no-member-from-date" data-datepicker-format="mm/dd/yyyy" data-datepicker-nodefault="false" name="Date" class="form-control input-sm" value="@DateTime.Now.ToString("MM/dd/yyyy")">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-5 input-sm">
                                    <label for="inputFirstName" class="col-sm-3 input-sm" style="font-weight:100 !important;">From</label>
                                    <div class="input-group datetimepicker1">
                                        <input type="text" id="datepicker-no-member-to-date" data-datepicker-format="mm/dd/yyyy" data-datepicker-nodefault="false" name="Date" class="form-control input-sm" value="@DateTime.Now.ToString("MM/dd/yyyy")">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-2 input-sm">
                                    <span data-bind="with: currentUsernameNomember">
                                        <button type="submit" class="btn btn-success" data-bind="click: $parent.transferHistoryNoMember" style="padding: 4px 12px;">Submit</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12" style="overflow-x:auto;">
                            <table id="statement" class="table table-bordered table-striped dataTable input-sm" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row" style="background:#3c8dbc;color:#fff">
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">No</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Date</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Transaction</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Type</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Currency</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Deposit</th>
                                        <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Withdraw</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach : statements">
                                    <tr role="row" class="odd" data-bind="style: {background : Amount() < 0 ? '#ff9999' : '' }">
                                        <td class="text-center" data-bind="text : index"></td>
                                        <td class="text-center" data-bind="text : Date "></td>
                                        <td class="text-center" data-bind="text : Transaction "></td>
                                        <td class="text-center" data-bind="text : Type"></td>
                                        <td class="text-center" data-bind="text : CurrencyCode"></td>
                                        <td class="text-right" data-bind="text : AmountDeposit"></td>
                                        <td class="text-center" data-bind="text : AmountWithdraw "></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div id="content-wrapper" class="pull-right" style="margin-right: 13px;">
                            <div class="inner clearfix">
                                <section id="main-content">
                                    <div class="text-center">
                                        <ul id="pagination-transfer" class="pagination-sm"></ul>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" data-bind="with: currentUsernameNomember">
                    <button type="button" @*data-bind="click :$root.close"*@ class="btn btn-danger" data-dismiss="modal" style="padding: 4px 12px;">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/custome-transfer-javascript")

