﻿@using ALT.Web.GamePlayer.Models;

@using PagedList;
@using PagedList.Mvc;


@model GameHistoryViewModel
@{
    Layout = null;
    ViewBag.Title = "Game History";
    var getGames = (IList<ALT.Common.Models.GameResp>)ViewBag.GetAllGames;
    int totalItemPerPages = (int)ViewBag.TotalItemPerPages;

    List<SelectListItem> listGames = new List<SelectListItem>();
    listGames.Add(new SelectListItem() { Value = "", Text = "Select All" });
    foreach (var item in getGames.Where(c => c.Enable == true))
    {
        listGames.Add(new SelectListItem() { Value = item.OCode, Text = item.Name });
    }

}

<link rel="shortcut icon" href="@Url.Content("~/logo.ico")" type="image/x-icon" />

@Styles.Render("~/Content/css")
@using (Html.BeginForm("Index", "GameHistory", new
            {
                InstructorPage = 1
            }, FormMethod.Post))
            {
    <div style="background: #FFF;">
        <div class="panel-body form-horizontal payment-form">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="concept" class="col-sm-3 control-label" style="text-align: left;">Username</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.Username, new { @type = "text", @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="date" class="col-sm-3 control-label" style="text-align: left;">Start Date</label>
                    <div class="col-sm-9">
                        <div class="input-group datetimepicker1">
                            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control input-sm ", @type = "text" })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="date" class="col-sm-3 control-label" style="text-align: left;">End Date</label>
                    <div class="col-sm-9">
                        <div class="input-group datetimepicker1">
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control input-sm ", @type = "text" })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="concept" class="col-sm-3 control-label" style="text-align: left;">Game Code</label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.GameCode, listGames, new { @type = "text", @class = "form-control", @id = "concept", placeholder = "---All--", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group" hidden>
                    <label for="concept" class="col-sm-3 control-label" style="text-align: left;">Current Page</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.CurrentPage, new { @type = "text", @class = "form-control", @id = "concept" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="concept" class="col-sm-3 control-label" style="text-align: left;">Total Records</label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.TotalRecords, new SelectList(
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem { Text = "50", Value =  "50"},
                                        new SelectListItem { Text =  "100", Value =  "100"},
                                        new SelectListItem {  Text =  "200", Value =  "200"},
                                    }, "Value", "Text"),
                                    new { @type = "text", @class = "form-control", @id = "concept", placeholder = "---All--", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <input type="submit" value="Submit" class="btn btn-success" data-color="primary" id="submit" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@{
    var inx = (Model.GameHistory.CurrentPage - 1) * totalItemPerPages;
}

<div class="col-sm-12" style="overflow-x:auto;">
    <table id="" class="table table-bordered table-striped input-sm" aria-describedby="" style="background: #fff">
        <thead>
            <tr role="row" style="background:#3c8dbc;color:#fff">
                <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">No</th>
                <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 400px;">Transaction ID</th>
                <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 400px;">Game </th>
                <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Start Balance</th>
                <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 300px;">Bet Amount</th>
                <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Result</th>
                <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">End Balnce</th>
                <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 300px;">Time</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.GameHistory != null)
            {
                if (Model.GameHistory.PageList != null && Model.GameHistory.PageList.Count > 0)
                {
                    foreach (var gameHistoryItem in Model.GameHistory.PageList)
                    {
                        inx++;
                        <tr role="row" class="odd">
                            <td class="text-center">@inx</td>
                            <td class="text-center">@gameHistoryItem.GameTransactionOCode</td>
                            <td class="text-center">@gameHistoryItem.GameName</td>
                            <td class="text-center">@gameHistoryItem.StartBalance.ToString("0,00.00")</td>
                            <td class="text-center">@gameHistoryItem.Amount.ToString("0,00.00")</td>
                            <td class="text-center">@gameHistoryItem.Result.ToString("0,00.00")</td>
                            <td class="text-center">@gameHistoryItem.EndBalance.ToString("0,00.00")</td>
                            <td class="text-center">@gameHistoryItem.Time</td>
                            @*<td>
                                </td>*@
                        </tr>
                    }
                }
                else
                {
                    <tr role="row" class="odd">
                        <td colspan="8" class="text-center">no-data</td>
                    </tr>
                }
            }
            else
            {
                <tr role="row" class="odd">
                    <td colspan="8" class="text-center">no-data</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<nav aria-label="..." class="pull-right" style="margin-right: 13px;">
    <ul class="pagination pagination-sm">
        @for (int p = 1; p <= ViewBag.TotalPage; p++)
            {
            <li class="page-item @(p == Model.GameHistory.CurrentPage ? "active" : "")">
                <a href="@Url.Action("Index", "GameHistory", new {
                        InstructorPage = p,
                        startDate = Model.StartDate.ToString("MM-dd-yyyy"),
                        endDate = Model.EndDate.Date.ToString("MM-dd-yyyy"),
                        gameCode = Model.GameCode,
                        TotalRecords = Model.TotalRecords
                    })">@p</a>
                </li>
        }
    </ul>
</nav>

<div class="bg_load"></div>
<div class="wrapper">
    <div class="inner">
        <span>L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>
</div>

@Scripts.Render("~/bundles/app")

<script>
    var ismobile = navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(android)|(webOS)/i);
    if (ismobile) {
        $("#datepicker input").addClass('no-grey').prop('readonly', true);
    }
    $(window).load(function () {
        $(".bg_load").fadeOut("slow");
        $(".wrapper").fadeOut("slow");
    })
</script>