﻿﻿@model  Tuple<string, List<BetSettingViewModel>, int, PersonType>
@using ALT.Web.Management.Core;
@using ALT.Common.Models;

@using ALT.Web.Management.Models;
@using ALT.Web.Management.Core;
@{
    var uplinePersonBetSetting = (List<PersonBetSettingResp>)ViewData["uplinePersonBetSetting"];

    var dtUpdatedPersonBetSetting = Model.Item2;
    var currenUpdatedCurrencyCode = Model.Item1;
    var updatedIndex = Model.Item3;
    PersonType updatePersonType = Model.Item4;
    var valMaxWinLimit = !String.IsNullOrEmpty(String.Format("{0:####.##}", dtUpdatedPersonBetSetting.Where(c => c.SettingType == BetSettingType.MaxWinLimit).Select(c => c.Value).FirstOrDefault())) ? String.Format("{0:####.##}", dtUpdatedPersonBetSetting.Where(c => c.SettingType == BetSettingType.MaxWinLimit).Select(c => c.Value).FirstOrDefault()) : "0" ;
    var valMinLossLimit = !String.IsNullOrEmpty(@String.Format("{0:####.##}", dtUpdatedPersonBetSetting.Where(c => c.SettingType == BetSettingType.MinLossLimit).Select(c => c.Value).FirstOrDefault())) ? @String.Format("{0:####.##}", dtUpdatedPersonBetSetting.Where(c => c.SettingType == BetSettingType.MinLossLimit).Select(c => c.Value).FirstOrDefault()) : "0";
}

<div class="col-sm-6">
    <div class="form-group">
        <label for="inputMaxWinLimit" class="col-sm-3 input-sm control-label" style="font-weight:100 !important;text-align:left">Max Win Limit</label>
        <div class="col-sm-5">
            <input type="text" name="BetSettings[@updatedIndex].Key" value="@currenUpdatedCurrencyCode" hidden />
            <input type="text" name="BetSettings[@updatedIndex].Value[0].SettingType" value="MaxWinLimit" hidden />
            <input type="text" name="BetSettings[@updatedIndex].Value[0].CurrencyCode" value="@currenUpdatedCurrencyCode" hidden />
            <input type="text" name="BetSettings[@updatedIndex].Value[0].PersonOCode" value="@AuthManager.AuthIdentity.PersonCode" hidden />
            <input data-type-max-win-limit="MaxWinLimit" data-currency-max-win-limit="@currenUpdatedCurrencyCode" name="BetSettings[@updatedIndex].Value[0].Value" class="form-control input-sm input-max-win-limit" id="input-value-max-win-limit_@currenUpdatedCurrencyCode"
                    value="@valMaxWinLimit" onkeypress="return isNumberKey(event);" />
        </div>
        <div class="col-sm-4">

            @if (uplinePersonBetSetting != null && uplinePersonBetSetting.Count > 0 && updatePersonType != PersonType.Admin)
            {
                if (uplinePersonBetSetting.Any(c => c.Currency == currenUpdatedCurrencyCode))
                {
                    var personBetSettingMaxWinLimit = uplinePersonBetSetting.Where(c => c.Type == BetSettingType.MaxWinLimit && c.Currency == currenUpdatedCurrencyCode).FirstOrDefault();

                    if (personBetSettingMaxWinLimit.Value != 0)
                    {
                        <label class="col-sm-3 input-sm control-label"><=</label>
                        <input id="person-bettsetting_@personBetSettingMaxWinLimit.Type@personBetSettingMaxWinLimit.Currency" value="@personBetSettingMaxWinLimit.Value" hidden>
                        <label class="col-sm-3 input-sm control-label">@personBetSettingMaxWinLimit.Value.ToString("#,###.##")</label>
                    }                  
                }
            }
        </div>
    </div>
    <div class="col-ms-12 col-lg-offset-3">
        <p id="max-win-limit_@currenUpdatedCurrencyCode" class="error"></p>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <label for="inputMaxLossLimit" class="col-sm-4 input-sm control-label" style="font-weight:100 !important;text-align:left;padding-right: 28px;">Min Loss Limit</label>
        <div class="col-sm-5">
            <input type="text" name="BetSettings[@updatedIndex].Value[1].CurrencyCode" value="@currenUpdatedCurrencyCode" hidden />
            <input type="text" name="BetSettings[@updatedIndex].Value[1].SettingType" value="MinLossLimit" hidden />
            <input type="text" name="BetSettings[@updatedIndex].Value[1].PersonOCode" value="@AuthManager.AuthIdentity.PersonCode" hidden />
            <input data-type-min-loss-limit="MinLossLimit" data-currency-min-loss-limit="@currenUpdatedCurrencyCode" name="BetSettings[@updatedIndex].Value[1].Value" class="form-control input-sm input-min-loss-limit" id="input-value-min-loss-limit_@currenUpdatedCurrencyCode" 
                   value="@valMinLossLimit" onkeypress="return isNumberKey(event);" />
        </div>
        <div class="col-sm-3">

            @if (uplinePersonBetSetting != null && uplinePersonBetSetting.Count > 0 && updatePersonType != PersonType.Admin)
            {
                if (uplinePersonBetSetting.Any(c => c.Currency == currenUpdatedCurrencyCode))
                {
                    var personBetSettingMinLossLimit = uplinePersonBetSetting.Where(c => c.Type == BetSettingType.MinLossLimit && c.Currency == currenUpdatedCurrencyCode).FirstOrDefault();

                    if (personBetSettingMinLossLimit.Value != 0)
                    {
                        <label class="col-sm-3 input-sm control-label"><=</label>
                        <input id="person-bettsetting_@personBetSettingMinLossLimit.Type@personBetSettingMinLossLimit.Currency" value="@personBetSettingMinLossLimit.Value" hidden>
                        <label class="col-sm-3 input-sm control-label">@personBetSettingMinLossLimit.Value.ToString("#,###.##")</label>
                    }                   
                }
            }
        </div>
    </div>
    <div class="col-ms-12 col-lg-offset-4">
        <p id="min-loss-limit_@currenUpdatedCurrencyCode" class="error"></p>
    </div>
</div>

