﻿@model  ALT.Web.Management.Models.PersonViewModel
﻿@using ALT.Common.Helpers
@using ALT.Common.Models;
@using ALT.Common;
@using ALT.Web.Management.Core;
@{
    var getAllCurrencies = (List<CurrencyResp>)ViewBag.GetAllCurrencies;
    var onlyCurrency = (string)ViewBag.onlyCurrency;

    List<SelectListItem> listCurrencies = new List<SelectListItem>();
    foreach (var itemCurrency in getAllCurrencies.Where(c => c.Enable == true))
    {
        listCurrencies.Add(new SelectListItem
        {
            Value = itemCurrency.Code,
            Text = itemCurrency.Name,
            Selected = itemCurrency.Code == AuthManager.AuthIdentity.Currencies.Select(c => c.Code).FirstOrDefault()
        });
    }

    List<SelectListItem> listPersonType = new List<SelectListItem>();
    PersonType personType = AuthManager.AuthIdentity.Type;
    List<PersonType> ListPersonType = personType.CanCreatedDownlines(true, false);

    foreach (var itemPerson in ListPersonType)
    {
        listPersonType.Add(new SelectListItem
        {
            Value = itemPerson.ToString(),
            Text = itemPerson.ToString()
        });
    }

    var hidden = Model.PersonType == PersonType.Member ? "hidden" : "";
}

@Html.Hidden("CheckUsername", Model.IsAdd)
@Html.HiddenFor(model => model.IsUpdate)
@Html.HiddenFor(model => model.UplineOCode)

<input type="text" value="@String.Join(ALT.Common.Statics.comma.ToString(), getAllCurrencies.Select(c => c.Code).ToList())" id="currency_current" hidden />
<input type="text" value="@StringHelper.Compile(Model.Currencies, ALT.Common.Statics.comma.ToString())" id="selectedCurrencies" hidden />
<input type="text" value="@onlyCurrency" id="onlyCurrency" hidden>

@if (Model.SelectedCurrencies != null)
{
    <input type="text" value="@Model.SelectedCurrencies.Length" id="isboolSelectedCurrency" hidden />
}
else
{
    <input type="text" value="0" id="isboolSelectedCurrency" hidden />
}

<div class="box-body" style="padding: 0 !important;margin-bottom: -10px;margin-top:10px;">
    <div class="col-sm-6">
        <div class="form-group">
            @if (Model.IsUpdate)
            {
                <label for="inputUsername" class="col-sm-2 input-sm control-label text-main-info">Username</label>
                <label id="username" name="Username" class="col-sm-3">@(Model.Username ?? "")</label>
                <input id="Usename" name="Username" value="@Model.Username" type="text" hidden>
                <input id="OCode" name="OCode" value="@Model.OCode" type="text" hidden>
            }
            else
            {
                @Html.Label("Upper", new { @for = "inputUsername", @class = "col-sm-2 input-sm control-label text-main-info", @style = "font-weight: 100 !important;text-align:left;font-size: 14px;" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.UsernameUpper, new { @class = "form-control input-sm", @readonly = "readonly" })
                </div>
            }
        </div>
        @if (Model.IsUpdate == false)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Username, new { @class = "col-sm-2 input-sm control-label text-main-info" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control input-sm", @placeholder = "Username" })
                </div>
                <div class="col-sm-2">
                    <input type="button" class="btn btn-default btn-xs" style="margin-top: 8px;width: 62px;" value="Check" id="checkusername">
                </div>
                <div class="col-sm-4">
                    <p class="error checkUsername" role="alert" style="padding-top:7px"></p>
                </div>
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @for = "inputPassword", @class = "col-sm-2 input-sm control-label text-main-info" })
            <div class="col-sm-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control input-sm", @id = "Password", @placeholder = "Password" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 input-sm control-label text-main-info">Date Of Birth</label>
            <div class="col-sm-10">
                <div class="input-group datetimepicker1">
                    @Html.TextBoxFor(model => model.DOB, new { @class = "form-control input-sm ", @type = "text" })
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DisplayName, new { @for = "inputDisplayName", @class = "col-sm-2 input-sm control-label text-main-info" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control input-sm", @id = "DisplayName", @name = "DisplayName", @placeholder = "Display name" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputCurrency" class="col-sm-2 input-sm control-label text-main-info">Currency</label>
            <div class="col-sm-4">
                <div class="form-group" style="margin-left: -1px;">
                    @if (Model.FixedCurrency)
                    {
                        @Html.TextBoxFor(model => model.Currencies, new { @Value = getAllCurrencies.Select(c => c.Code).FirstOrDefault(), @class = "form-control input-sm", @readonly = "readonly" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.Currencies, new SelectList(listCurrencies, "Value", "Text"), new { @class = "form-control  input-sm" })
                    }
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" style="margin-left: -1px;">
                    <label class="checkbox-inline" style="font-size: 11px;">@Html.CheckBoxFor(model => model.FixedCurrency, new { @onclick = Model.FixedCurrency == true ? "return false" : "return true" }) Fixed</label>
                </div>
            </div>
        </div>
        @if (Model.IsUpdate == false)
        {
            if (Model.PersonType != PersonType.Member)
            {
                <div class="form-group" style="margin-top: -15px;">
                    <label for="inputLevel" class="col-sm-2 input-sm control-label text-main-info">Level</label>
                    <div class="col-sm-4">
                        <div class="form-group" style="margin-left: -1px;">
                            @Html.DropDownListFor(model => model.PersonType, new SelectList(listPersonType, "Value", "Text"), new { @class = "form-control input-sm valid" })
                        </div>
                    </div>
                    <div class="col-sm-3 checkAgent">
                        <label class="checkbox-inline" style="font-size: 11px;">@Html.CheckBoxFor(m => m.CreateAgency)  Create Agency</label>
                    </div>
                    <div class="col-sm-3">
                        <label class="checkbox-inline" style="font-size: 11px;">@Html.CheckBoxFor(m => m.CreateMember) Create Member</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2">
                        <p class="error agency-member" role="alert" style="padding-top:7px"></p>
                    </div>
                </div>
            }
            else
            {
                @Html.HiddenFor(model => model.PersonType)
            }
        }
        else
        {
            @Html.HiddenFor(model => model.PersonType)
            @Html.HiddenFor(model => model.CreateAgency)
            @Html.HiddenFor(model => model.CreateMember)
        }
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="inputFirstName" class="col-sm-2 input-sm control-label text-main-info">First Name</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control input-sm", @placeholder = "FirstName" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputLastname" class="col-sm-2 input-sm control-label text-main-info">Last Name</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control input-sm", @placeholder = "Lastname" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputPhone" class="col-sm-2 input-sm control-label text-main-info">Phone</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control input-sm", @placeholder = "Phone", @onkeypress = "return isNumberKey(event);" })
                <p id="errorPhone" class="error" style="display: none;"></p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 input-sm control-label text-main-info">Address</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control input-sm", @placeholder = "Address" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 input-sm control-label text-main-info">Email</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm", @placeholder = "Email" })
            </div>
        </div>

        <div class="form-group">
            <label for="inputLimitIP" class="col-sm-2 input-sm control-label text-main-info">Limit IP</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.LimitIP, new { @class = "form-control input-sm", @placeholder = "Limit ip" })
            </div>
        </div>
        <div class="form-group">
            <label for="fun" class="col-sm-2 input-sm control-label text-main-info">Status</label>
            <div class="col-sm-9 col-md-10">
                <div class="input-group">
                    <div id="radioBtn" class="btn-group">
                        @{
                            var statusActive = Model.Status.ToString() == "Active" ? "active" : "notActive";
                            var statusSusppend = Model.Status.ToString() == "Suspended" ? "active" : "notActive";
                            var statusDisabled = Model.Status.ToString() == "Disabled" ? "active" : "notActive";
                        }
                        <a href="javascript:myFuncStatus('Active');" data-status="Active" class="change-status btn btn-default btn-sm @statusActive radio-status radio-status-border4px" data-toggle="status" data-title="Y" style="border-top-left-radius:4px;border-bottom-left-radius:4px;">Active</a>
                        <a href="javascript:myFuncStatus('Suspended');" data-status="Suspended" class="change-status btn btn-default btn-sm @statusSusppend radio-status" data-toggle="status" data-title="X">Suspended</a>
                        <a href="javascript:myFuncStatus('Disabled');" data-status="Disabled" class="change-status btn btn-default btn-sm @statusDisabled radio-status" data-toggle="status" data-title="N">Disabled</a>
                    </div>
                </div>
                <input type="text" id="input-create-status" name="Status" value="@Model.Status" hidden />
            </div>
        </div>
    </div>
</div>

<script>
    var today = new Date();
    function myFuncStatus(status) {
        $('#input-create-status').val(status);
    }
</script>
