﻿﻿@model  Tuple<string, ALT.Web.Management.Models.PersonMaxCredit, int, PersonType>
@using ALT.Web.Management.Core;
@using ALT.Common.Models;
@using ALT.Web.Management.Models;
@using ALT.Web.Management.Core;
@{
    var uplinePersonMaxCredits = (List<PersonMaxCreditResp>)ViewData["uplinePersonMaxCredits"];
    var updatedPersonMaxCredits = Model.Item2;
    var currenUpdatedCurrencyCode = Model.Item1;
    var updatedIndex = Model.Item3;
    var updatePersonType = Model.Item4;
    var display = updatePersonType == PersonType.Member ? "display:none" : "";
    var valMaxCredit = !String.IsNullOrEmpty(String.Format("{0:####.##}", updatedPersonMaxCredits.MaxCredit)) ? String.Format("{0:####.##}", updatedPersonMaxCredits.MaxCredit) : "0";
}

<div class="form-group" style="@display">
    <label for="inputMaxMemberCredit" class="col-sm-4 input-sm control-label" style="font-weight:100 !important;text-align:left">Max Member Credit</label>
    <div class="col-sm-5">
        <input type="text" name="PersonMaxCredits[@updatedIndex].Key" value="@currenUpdatedCurrencyCode" hidden />
        <input type="text" name="PersonMaxCredits[@updatedIndex].Value.PersonType" value="@updatePersonType" hidden />
        <input type="text" name="PersonMaxCredits[@updatedIndex].Value.CurrencyCode" value="@currenUpdatedCurrencyCode" hidden />
        <input type="text" name="PersonMaxCredits[@updatedIndex].Value.PersonOCode" value="@updatedPersonMaxCredits.PersonOCode" hidden />
        <input type="text" id="input-value-max-credit_@currenUpdatedCurrencyCode" data-input-max-credit-currency="@currenUpdatedCurrencyCode" name="PersonMaxCredits[@updatedIndex].Value.MaxCredit" class="form-control input-sm input-max-credit" value="@valMaxCredit"  onkeypress="return isNumberKey(event);"/>
    </div>

    <div class="col-sm-3">
        @if (uplinePersonMaxCredits != null && uplinePersonMaxCredits.Count > 0 && updatePersonType != PersonType.Admin)
        {            
            var personPersonMaxCredit = uplinePersonMaxCredits.Where(c => c.CurrencyCode == currenUpdatedCurrencyCode).FirstOrDefault();
            if (personPersonMaxCredit != null)
            {
                <input id="person-max-credit-Upline_@personPersonMaxCredit.CurrencyCode" value="@personPersonMaxCredit.Value" hidden>

                if (personPersonMaxCredit.Value > 0)
                {
                    <label class="col-sm-3 input-sm control-label"><=</label>
                    <label class="col-sm-3 input-sm control-label">@personPersonMaxCredit.Value.ToString("#,###.##")</label>
                }               
            }
        }
    </div>
</div>
<div class="col-ms-12 col-lg-offset-4">
    <p id="max-member-credit_@currenUpdatedCurrencyCode" class="error"></p>
</div>




