﻿﻿@model  Tuple<string, ALT.Web.Management.Models.PersonBalance, int, PersonType>
@using ALT.Web.Management.Core;
@using ALT.Common.Models;

@using ALT.Web.Management.Models;
@using ALT.Web.Management.Core;
@{
    var uplinePersonBalances = (List<PersonBalanceResp>)ViewData["uplinePersonBalances"];
    var updatedPersonBalances = Model.Item2;
    var currenUpdatedCurrencyCode = Model.Item1;
    var updatedIndex = Model.Item3;
    var updatePersonType = Model.Item4;
    var uplinePersonMaxCredits = (List<PersonMaxCreditResp>)ViewData["uplinePersonMaxCredits"];
    var valAvaiable = !String.IsNullOrEmpty(String.Format("{0:####.##}", updatedPersonBalances.Available)) ? String.Format("{0:####.##}", updatedPersonBalances.Available) : "0";

}
<div class="form-group">
    <label for="inputCredit" class="col-sm-3 input-sm control-label" style="font-weight:100 !important;text-align:left">Credit</label>
    <div class="col-sm-5">
        <input type="text" name="PersonBalances[@updatedIndex].Key" value="@currenUpdatedCurrencyCode" hidden />
        <input type="text" name="PersonBalances[@updatedIndex].Value.CurrencyCode" value="@currenUpdatedCurrencyCode" hidden />
        <input type="text" name="PersonBalances[@updatedIndex].Value.PersonOCode" value="@updatedPersonBalances.PersonOCode" hidden />
        <input data-input-balance="@currenUpdatedCurrencyCode" name="PersonBalances[@updatedIndex].Value.Available" class="form-control input-sm input-balance" id="input-value-balance_@currenUpdatedCurrencyCode" value="@valAvaiable" onkeypress="return isNumberKey(event);" />
    </div>

    <div class="col-sm-4">
        @if (uplinePersonBalances != null && uplinePersonBalances.Count > 0 && updatePersonType != PersonType.Admin && updatePersonType != PersonType.Member)
        {
            if (uplinePersonBalances.Any(c => c.CurrencyCode == currenUpdatedCurrencyCode))
            {
                var personBalance = uplinePersonBalances.Where(c => c.CurrencyCode == currenUpdatedCurrencyCode).FirstOrDefault();
                <input id="person-balance_@personBalance.CurrencyCode" value="@personBalance.Value" hidden>
                if (personBalance.Value > 0)
                {
                    <label class="col-sm-3 input-sm control-label"><=</label>
                    <label class="col-sm-3 input-sm control-label">@personBalance.Value.ToString("#,###.##")</label>
                }
            }
        }
        else if (updatePersonType == PersonType.Member)
        {
            if (uplinePersonMaxCredits != null && uplinePersonMaxCredits.Count > 0 && updatePersonType != PersonType.Admin)
            {

                var personPersonMaxCredit = uplinePersonMaxCredits.Where(c => c.CurrencyCode == currenUpdatedCurrencyCode).FirstOrDefault();
                var personBalance = uplinePersonBalances.Where(c => c.CurrencyCode == currenUpdatedCurrencyCode).FirstOrDefault();

                if (personPersonMaxCredit != null && personBalance != null)
                {
                    if (personPersonMaxCredit.Value > 0 && personBalance.Value > 0)
                    {
                        <input id="person-balance_@personBalance.CurrencyCode" value="@personBalance.Value" hidden>
                        <input id="person-max-credit_@personPersonMaxCredit.CurrencyCode" value="@personPersonMaxCredit.Value" hidden>

                        if (personPersonMaxCredit.Value < personBalance.Value)
                        {
                            <label class="col-sm-3 input-sm control-label"><=</label>
                            <label class="col-sm-3 input-sm control-label">@personPersonMaxCredit.Value.ToString("#,###.##")</label>
                        }
                        else
                        {
                            <label class="col-sm-3 input-sm control-label"><=</label>
                            <label class="col-sm-3 input-sm control-label">@personBalance.Value.ToString("#,###.##")</label>
                        }
                    }
                }
            }
        }
    </div>
</div>
<div class="col-ms-12 col-lg-offset-3">
    <p id="balance_@currenUpdatedCurrencyCode" class="error"></p>
</div>







