﻿﻿@model  Tuple<string, List<PositionTakingViewModel>, int, PersonType>
@using ALT.Common.Helpers;
@using ALT.Common.Models;
@using ALT.Common;
@using ALT.Web.Management.Models;
@using ALT.Web.Management.Core;
@{
    PersonType currentPersonType = AuthManager.AuthIdentity.Type;
    bool isMember = Model.Item4 != PersonType.Member ? true : false;

    var dtUplinePersonPositionTaking = (Dictionary<string, List<PositionTakingViewModel>>)ViewData["dtUplinePersonPositionTaking"];
    var dtUpdatedPersonPositionTaking = Model.Item2;
    var currenUpdatedCurrencyCode = Model.Item1;
    var updatedIndex = Model.Item3;
}

@if (dtUplinePersonPositionTaking.Any(c => c.Key == currenUpdatedCurrencyCode))
{   
    <div class="col-sm-6">       
        <div class="form-group">            
            <label for="inputCasino" class="col-sm-3 input-sm control-label" style="font-weight:100 !important;text-align:left">Casino Upline</label>
            <div class="col-sm-5">
                <input name="PositionTakings[@updatedIndex].Key" value="@currenUpdatedCurrencyCode" hidden />
                <input data-key="@currenUpdatedCurrencyCode" name="PositionTakings[@updatedIndex].Value[0].Type" value="Upline" hidden />
                <input name="PositionTakings[@updatedIndex].Value[0].CurrencyCode" value="@currenUpdatedCurrencyCode" hidden />
                <input type="text" name="PositionTakings[@updatedIndex].Value[0].PersonOCode" value="@AuthManager.AuthIdentity.PersonCode" hidden />
                <select id="selUplinePT_@currenUpdatedCurrencyCode"
                        name="PositionTakings[@updatedIndex].Value[0].Value"
                        data-upline-pt-val="@dtUplinePersonPositionTaking[currenUpdatedCurrencyCode].Where(c => c.Type == PostitionTakingType.CurrentMax).Select(c => c.Value).FirstOrDefault().ToString("0.00")"
                        data-currency-code="@currenUpdatedCurrencyCode"
                        data-updated-val="@dtUpdatedPersonPositionTaking.Where(c => c.Type == PostitionTakingType.Upline).Select(c => c.Value).FirstOrDefault().ToString("0.00")"
                        class="UplinePT col-sm-12 input-sm img-responsive valid" style="width:100%">
                    <option>0.00</option>
                </select>
            </div>
        </div>
    </div>

    if (isMember)
    {
        <div class="col-sm-6">           
            <div class="form-group">     
                <label for="inputCasino" class="col-sm-4 input-sm control-label" style="font-weight:100 !important;text-align:left">Casino CurrentMax</label>           
                <div class="col-sm-5">
                    <input data-key="@currenUpdatedCurrencyCode" name="PositionTakings[@updatedIndex].Value[1].Type" value="CurrentMax" hidden />
                    <input name="PositionTakings[@updatedIndex].Value[1].CurrencyCode" value="@currenUpdatedCurrencyCode" hidden />
                    <input type="text" name="PositionTakings[@updatedIndex].Value[1].PersonOCode" value="@ALT.Web.Management.Core.AuthManager.AuthIdentity.PersonCode" hidden />
                    <input id="hddCurrentMaxPT_@currenUpdatedCurrencyCode" name="PositionTakings[@updatedIndex].Value[1].CurrentMax" value="@dtUpdatedPersonPositionTaking.Where(c => c.Type == EnumHelper<PostitionTakingType>.Parse("CurrentMax")).Select(c => c.Value).FirstOrDefault().ToString("0.00")" hidden />
                    <select id="selCurrentMaxPT_@currenUpdatedCurrencyCode"
                            name="PositionTakings[@updatedIndex].Value[1].Value"
                            data-updated-val="@dtUpdatedPersonPositionTaking.Where(c => c.Type == PostitionTakingType.CurrentMax).Select(c => c.Value).FirstOrDefault().ToString("0.00")"
                            class="CurrentMaxPT col-sm-12 input-sm valid" style="width:100%">
                        <option>0.00</option>
                    </select>
                </div>
            </div>
        </div>

    }
}

