﻿@model  ALT.Web.Management.Models.PersonViewModel
@using ALT.Common.Helpers
@using ALT.Common.Models;
@using ALT.Web.Management.Models;
@using ALT.Common;
@using ALT.Web.Management.Models;
@{
    ViewBag.Title = "Person";
    PersonType currentPersonType = ALT.Web.Management.Core.AuthManager.AuthIdentity.Type;
    var getAllCurrencies = (List<CurrencyResp>)ViewBag.GetAllCurrencies;
}

<section class="content-header" style="padding-top:0px;">
    <div class="row">
        <ol class="breadcrumb">
            <li class="active">
                Agent User Setting
            </li>
        </ol>
    </div>
</section>

<div class="content" style="margin-top: -27px;">
    <input id="current-type" name="" value="@currentPersonType" hidden>
    <input id="get-natural-downline" value="@currentPersonType.GetNaturalDownline()" hidden>
    @using (Html.BeginForm("AddPerson", "Person", FormMethod.Post, new
    {
        id = "Person",
        @class = "form-horizontal",
        @style = "margin-top: -9px;"
    }))
    {
        @Html.ValidationMessage("ErrorMessageID", new { @class = "error" })

        <div class="panel with-nav-tabs panel-primary box box-info" style="padding:0px !important">
            <div class="box-header with-border text-center custome" style="height:39px !important;padding-top: 10px;">
                <h3 class="box-title pull-left" style="font-size:18px">Main Information</h3>
            </div>
            <div class="box-body" style="padding: 0 !important;">
                <div class="col-sm-12">
                    @Html.Partial("_MainInfo")
                </div>
            </div>
        </div>
        <div class="panel with-nav-tabs panel-primary box box-info" style="margin-top: -10px; border-top:0px !important">
            <div class="panel-heading" style="height:38px !important;background-color:#3c8dbc">
                <ul class="nav nav-tabs" style="margin-top:-7px;">
                    @if (getAllCurrencies != null)
                    {
                        for (int i = 0; i < getAllCurrencies.Count; i++)
                        {
                            <li class="background-antiquewhite @(i==0 ? "active" : "" )" id="@getAllCurrencies[i].Code">
                                <a href="#tab-content_@getAllCurrencies[i].Code" data-toggle="tab"
                                   data-tab-currency="@getAllCurrencies[i].Code"
                                   style="height: 36px;">@getAllCurrencies[i].Code</a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content" style="margin-top: -10px;">
                    @if (getAllCurrencies != null)
                    {
                        for (int i = 0; i < getAllCurrencies.Count; i++)
                        {
                            var currencyCode = (string)getAllCurrencies[i].Code;

                            int indexPersonMaxCredit = ALT.Common.Helpers.DictionaryHelper.GetIndexOfKey(Model.PersonMaxCredits, currencyCode);
                            int indexPersonBalance = ALT.Common.Helpers.DictionaryHelper.GetIndexOfKey(Model.PersonBalances, currencyCode);
                            int indexBetSetting = ALT.Common.Helpers.DictionaryHelper.GetIndexOfKey(Model.BetSettings, currencyCode);
                            int indexPostionTaking = ALT.Common.Helpers.DictionaryHelper.GetIndexOfKey(Model.PositionTakings, currencyCode);

                            <div class="tab-pane fade in @(i==0 ? "active" :"")" id="tab-content_@currencyCode">
                                <div class="box box-info" style="border-top-color: #fff !important;">
                                    <div class="box-body" style="margin-top: -15px !important;margin-bottom: -15px !important;padding: 0 !important;">
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                @Html.Partial("_PersonBalance", Tuple.Create<string, PersonBalance, int, PersonType>(currencyCode, Model.PersonBalances[currencyCode], indexPersonBalance, Model.PersonType))
                                            </div>
                                            <div class="col-sm-6">
                                                @Html.Partial("_PersonMaxCredit", Tuple.Create<string, PersonMaxCredit, int, PersonType>(currencyCode, Model.PersonMaxCredits[currencyCode], indexPersonMaxCredit, Model.PersonType))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="box-header with-border text-center custome" style="background:#d2d6de !important">
                                        <h3 class="box-title pull-left" style="color:#000000;font-size: 15px;">Bet Setting</h3>
                                    </div>
                                    <div class="box-body" style="margin-top: 11px !important;margin-bottom: -20px !important;padding: 0 !important;">
                                        <div class="col-sm-12">
                                            @Html.Partial("_BetSetting", Tuple.Create<string, List<BetSettingViewModel>, int, PersonType>(currencyCode, Model.BetSettings[currencyCode], indexBetSetting, Model.PersonType))
                                        </div>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="box-header with-border text-center custome" style="background:#d2d6de !important">
                                        <h3 class="box-title pull-left" style="color:#000000 ;font-size: 15px;">Position Taking</h3>
                                    </div>
                                    <div class="box-body" style="margin-top: 11px !important;margin-bottom: -28px !important;padding: 0 !important;">
                                        <div class="col-sm-12">
                                            @Html.Partial("_PositionTaking", Tuple.Create<string, List<PositionTakingViewModel>, int, PersonType>(currencyCode, Model.PositionTakings[currencyCode], indexPostionTaking, Model.PersonType))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="pull-right">
                <span>
                    <button id="submit-person" type="submit" class="btn btn-success">Save</button>
                </span>
                <span>
                    <button class="btn btn-danger" type="button" onclick="location.href='@Url.Action("Cancel", "Person")'">Cancel</button>
                </span>
            </div>
        </div>
    }
</div>
@Scripts.Render("~/bundles/custome-person-javascript")