﻿@model  ALT.Web.Management.Models.PersonViewModel
@using ALT.Common.Helpers
@using ALT.Common.Models;
@using ALT.Common;
@{
    PersonType currentPersonType = ALT.Web.Management.Core.AuthManager.AuthIdentity.Type;
}
<section class="content-header">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>            
            <li class="active">
                Edit Information ...
            </li>
        </ol>
    </div>

</section>
<div class="content">
    @using (Html.BeginForm("EditMainInfo", "Person", FormMethod.Post, new { id = "Person", @class = "form-horizontal" }))
    {
        <div class="box box-info">
            <div class="box-header with-border text-center custome">
                <h3 class="box-title">Main Information</h3>
            </div>
            <div class="box-body">
                <div class="col-sm-6" style="border-right:1px #808080 solid">
                    <div class="form-group">
                        <label for="inputUsername" class="col-sm-3" style="margin-top: 5px;">Username</label>
                        <div class="col-sm-9 set-front-size-background">
                            <div>
                                <div class="col-sm-2">
                                    <label for="inputCasino">prefix</label>
                                </div>
                                <div>
                                    @Html.DropDownListFor(m => m.OtoZ1, (IEnumerable<SelectListItem>)ViewBag.OtoZ, new { @class = "col-sm-2 form-control selectWidth", @disabled = "disabled", @style = "width:auto; margin-left: 2px;" })
                                    @Html.DropDownListFor(m => m.OtoZ2, (IEnumerable<SelectListItem>)ViewBag.OtoZ, new { @class = "col-sm-2 form-control selectWidth", @disabled = "disabled", @style = "width:auto; margin-left: 2px;" })
                                    @Html.DropDownListFor(m => m.OtoZ3, (IEnumerable<SelectListItem>)ViewBag.OtoZ, new { @class = "col-sm-2 form-control selectWidth", @disabled = "disabled", @style = "width:auto; margin-left: 2px;" })
                                </div>
                                <input id="usernames" name="Username" type="text" value="@Model.Username" hidden>
                                <input id="ocode" name="OCode" type="text" value="@Model.OCode" hidden>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-3">Date Of Birth</label>
                        <div class="col-sm-9 input-group input-append date form_date" style="width: 73%">
                            <input type="text" id="datepicker" name="DOB" class="form-control date-picker valid" data-date-format="dd/mm/yyyy" value="@Model.DOB" style="margin-left: 15px;width: 96%;">
                            <span class="input-group-addon"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDisplayName" class="col-sm-3">Display Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="DisplayName" name="DisplayName" placeholder="Display Name" value="@Model.DisplayName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-3">Type</label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(m => m.Type, new SelectList(ViewBag.CreatedDownlines), new { @class = "form-control valid" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCurrency" class="col-sm-3">Currency</label>
                        <div class="col-sm-9">
                            @if (ViewBag.CurrencyUplines != null)
                            {
                                for (int i = 0; i < ViewBag.CurrencyUplines.Length; i++)
                                {
                                    <span class="button-checkbox">
                                        <button type="button" class="btn btn-xs btn-default" data-color="primary" data-currency="@ViewBag.CurrencyUplines[i]"><i class="state-icon glyphicon glyphicon-check"></i>&nbsp;@ViewBag.CurrencyUplines[i]</button>
                                        <input type="checkbox" class="hidden" checked="">
                                    </span>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-3">First Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="firstname" placeholder="FirstName" name="FirstName" value="@Model.Firstname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLastname" class="col-sm-3">Last Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="lastname" placeholder="Lastname" name="Lastname" value="@Model.Lastname" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-3">Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="email" placeholder="Email" name="Email" value="@Model.Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLimitIP" class="col-sm-3">Limit IP</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="limitip" name="LimitIP" placeholder="Limit IP" value="@Model.LimitIP">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fun" class="col-sm-3">Status</label>
                        <div class="col-sm-9 col-md-9">
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group">
                                    <a href="javascript:myFunc('Active')" class="btn btn-primary btn-sm @(Model.Status.ToString() == "Active" ? "active" : "notActive")" data-toggle="status" data-title="Y" data-status="Active">Active</a>
                                    <a href="javascript:myFunc('Susppend')" class="btn btn-primary btn-sm @(Model.Status.ToString() == "Susppend" ? "active" : "notActive")" data-toggle="status" data-title="X" data-status="Suspend">Suspend</a>
                                    <a href="javascript:myFunc('Disabled')" class="btn btn-primary btn-sm @(Model.Status.ToString() == "Disabled" ? "active" : "notActive")" data-toggle="status" data-title="N" data-status="Disable">Disable</a>
                                </div>
                                <input name="Status" id="input-status" hidden>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <span class="pull-right">
                <button id="submit" type="submit" class="btn btn-success">Save</button>
            </span>
        </div>
    }
</div>
<script src="~/Scripts/custom-js/checkboxcurrency_tabcurrency.js"></script>
<script>
    function myFunc(status) {
        $('#input-status').val(status);
    };
</script>