﻿@model ALT.Web.Management.Models.PersonViewModel
@using ALT.Web.Management.Models;
@{
    ViewBag.Title = "EditBetSetting";
}
<section class="content-header">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Edit Bet Setting</li>
        </ol>
    </div>
</section>
<div class="content" style="margin-top: -32px;">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editBetSetting", @class = "form-horizontal" }))
    {
        <div class="box-body">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Main Information</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Username:</label>
                                <div class="col-lg-8 margin-top7px">
                                    <span class="box-title">@Model.Username</span>
                                    <input name="Username" value="@Model.Username" hidden />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">First name:</label>
                                <div class="col-lg-8 margin-top7px">
                                    <span class="box-title">@Model.Firstname</span>
                                    <input name="Firstname" value="@Model.Firstname" hidden />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Credit:</label>
                                <div class="col-lg-8 margin-top7px">
                                    <span class="box-title">@Model.Credit</span>
                                    <input name="Credit" value="@Model.Credit.ToString("0.00")" hidden />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Last Name:</label>
                                <div class="col-lg-8 margin-top7px">
                                    <span class="box-title">@Model.Lastname</span>
                                    <input name="Lastname" value="@Model.Lastname" hidden />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Currency</h3>
                </div>
                <div class="box-body">
                    @if (ViewBag.CurrencyUplines != null)
                    {
                        foreach (var itemCurrency in ViewBag.CurrencyUplines)
                        {
                            <span class="button-checkbox">
                                <button type="button" class="btn btn-xs btn-default" data-color="primary" data-currency="@itemCurrency"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;@itemCurrency</button>
                                <input type="checkbox" class="hidden" @*checked="@itemCurrency"*@>
                            </span>
                        }
                    }
                    <input id="currencys" name="Currencys" type="text" hidden>
                    <label id="error-currency" for="currencys" class="error" style="display:none">Please select currency</label>
                </div>
            </div>
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        @if (ViewBag.CurrencyUplines != null)
                        {
                            for (int i = 0; i < ViewBag.CurrencyUplines.Count; i++)
                            {
                                <li class="background-antiquewhite @(i == 0 ? "active" : "" )" id="@ViewBag.CurrencyUplines[i]"><a href="#tab_@ViewBag.CurrencyUplines[i]" data-toggle="tab" data-tab-currency="@ViewBag.CurrencyUplines[i]">@ViewBag.CurrencyUplines[i]</a></li>
                            }
                        }
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        @if (ViewBag.CurrencyUplines != null)
                        {
                            for (int i = 0; i < ViewBag.CurrencyUplines.Count; i++)
                            {
                                string nameCurrency = (string)ViewBag.CurrencyUplines[i];
                                int indexBetSetting = ALT.Common.Helpers.DictionaryHelper.GetIndexOfKey(Model.BetSettings, nameCurrency);
                                <div class="tab-pane fade in @(i == 0 ? "active" : "")" id="tab_@ViewBag.CurrencyUplines[i]">
                                    <div class="box box-info">
                                        <div class="box-header with-border text-center">
                                            <h3 class="box-title">Bet Setting Currency - @ViewBag.CurrencyUplines[i]</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="col-md-12">
                                                @Html.Partial("_BetSetting", Tuple.Create<string, List<BetSettingViewModel>, int>(nameCurrency, Model.BetSettings[nameCurrency], indexBetSetting))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <h1 class="pull-right">
                    <button id="edit-betsetting" type="submit" class="btn btn-success">Save</button>
                </h1>
            </div>
        </div>
    }
</div>
@Scripts.Render("~/bundles/custome-edit-person-javascript")
