﻿@model  IEnumerable<ALT.Web.Management.Models.PersonViewModel>
@using ALT.Common.Helpers
@using ALT.Common.Models;
@using ALT.Common;

@{
    ViewBag.Title = "PersonDownlinelist";   
    bool isUpdatedInfo = !string.IsNullOrEmpty((string)TempData["UpdatedInfo"]) ? true : false;
    var selectEditOcode = !string.IsNullOrEmpty((string)TempData["ocode"]) ? (string)TempData["ocode"] : @ALT.Web.Management.Core.AuthManager.AuthIdentity.PersonCode;
}

<script type="text/javascript">
    $(document).ready(function () {
        var messageUpdatedInfo = '@TempData["UpdatedInfo"]';
        var isUpdateds = '@isUpdatedInfo';
        if (isUpdateds == 'True') {
            @{@:toastr.success(messageUpdatedInfo);
          };
        }
    });
</script>

<input id="select-ocode" data-Ocode="@selectEditOcode" hidden />
<div id="personDownline">
    <section class="content-header" style="padding-top: 0px;">
        <div class="row">           
            <ol class="breadcrumb" id="breadcrumb-person" data-bind="foreach : GetBreadcrumbPerson">
                <li>
                    <a href="#" data-bind="text: value , click: $parent.breadcrumbclickpersondownline.bind(key)"></a>
                </li>
            </ol>
        </div>
    </section>
    <div class="box" style="margin-bottom:0 !important">
        <div class="box-body">
            <div id="persondownlist_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-12" style="overflow-x:auto;">
                        <table id="persondownlist" class="table table-bordered table-striped dataTable input-sm" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr role="row" style="background:#3c8dbc;color:#fff">
                                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">No</th>
                                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Action</th>
                                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Status</th>
                                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Downline</th>
                                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">User Name</th>
                                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">First Name</th>
                                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Last Name</th>
                                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 300px;">Type</th>
                                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Currency</th>
                                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Credit</th>
                                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 500px;">Max Member Credit</th>
                                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Last Login IP</th>
                                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 300px;">Last Login</th>
                                </tr>
                            </thead>

                            <tbody data-bind="foreach: persons">
                                <tr role="row" class="odd" data-bind="style: { background:  Status() == 'Active' ? '' : Status() == 'Suspended' ? 'bisque' : 'rgba(245, 144, 133, 0.72)' }">
                                    <td class="text-center" data-bind="text: index"></td>
                                    <td class="text-center" style="width:229px">
                                        <div class="btn-group">
                                            <button type="button" class="small-button" data-toggle="dropdown" style="float: right;">
                                                <span class="fa fa-pencil fa-1"></span>
                                            </button>
                                            <ul class="dropdown-menu backgroundEE0" role="menu">
                                                <li>
                                                    <a class="background-image-none" href="#" data-toggle="modal" data-bind="click: $parent.bindUsername">Reset Password</a>
                                                </li>
                                                <li>
                                                    <a class="background-image-none" data-bind="attr: { 'href': '@Url.Action("EditPerson", "Person")?ocode=' + OCode() }">
                                                        Edit <span data-bind="text: Type"></span>
                                                    </a>
                                                </li>
                                                @*<li><a href="@Url.Action("EditBetSetting","Person")">Edit BetSetting</a></li>
                                                    <li><a href="@Url.Action("EditPositionTaking","Person")">Edit Position Taking</a></li>*@
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="text-center" style="width:350px">
                                        <div class="btn-group">
                                            <label data-bind="text: Status" class="padding21px"></label>
                                            <button type="button" data-toggle="dropdown" class="small-button" style="float:none">
                                                <span class="fa fa-pencil fa-1"></span>
                                            </button>
                                            <ul class="dropdown-menu backgroundEE0" role="menu">
                                                <li data-bind="attr: { 'class': Status() == 'Active' ? 'active':'' } ">
                                                    <a class="background-image-none" href="#" data-bind="style: { color:  Status() == 'Active' ? '#fff !important' :'' } , click: $parent.status.bind($data,'Active')">
                                                        Active
                                                    </a>
                                                </li>
                                                <li data-bind="style: {attr: { 'class': Status() == 'Suspended' ? 'active':'' } , border:  Status() == 'Suspended' ? '1px solid #fff' :'' }">
                                                    <a class="background-image-none" href="#" data-bind="click: $parent.status.bind($data,'Suspended')">
                                                        Suspend
                                                    </a>
                                                </li>
                                                <li data-bind="style: {attr: { 'class': Status() == 'Disabled' ? 'active':'' } , border:  Status() == 'Disabled' ? '1px solid #fff' :'' }">
                                                    <a class="background-image-none" href="#" data-bind="click: $parent.status.bind($data,'Disabled')">
                                                        Disable
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="text-right" style="padding-right:30px">
                                        <a data-bind="if:Type() != 'Member' && TotalDownline()!=0" href="#">
                                            <span class="label label-info" data-bind="click: $parent.personDownline">
                                                <text data-bind="text: TotalDownline"></text>
                                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                        <a data-bind="if:Type() == 'Member' && TotalDownline()==0">
                                            <span class="label label-info">
                                                <text>-</text>
                                            </span>
                                        </a>
                                    </td>
                                    <td class="text-left" data-bind="text: Username"></td>
                                    <td class="text-left" data-bind="text: Firstname"></td>
                                    <td class="text-left" data-bind="text: Lastname"></td>
                                    <td class="text-left" data-bind="text: Type"></td>
                                    <td class="td-in-table text-left" style="padding-right: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important;padding-left: 0px !important;">
                                        <table style="margin-bottom:0px !important;background-color: transparent !important;width:100%;">
                                            <tbody data-bind="foreach: Currencies">
                                                <tr class="border-bottom3c8dbc">
                                                    <td class="pading6px" style="text-align:left">
                                                        <text data-bind="text: value"></text><br />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="td-in-table text-right" style="padding-right: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important;padding-left: 0px !important;">
                                        <table style="margin-bottom:0px !important;background-color: transparent !important;width:100%;">
                                            <tbody data-bind="foreach: Availables">
                                                <tr class="border-bottom3c8dbc">
                                                    <td class="pading6px" style="text-align:right">
                                                        <text data-bind="text: value"></text><br />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="td-in-table text-right" style="padding-right: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important;padding-left: 0px !important;">
                                        <table style="margin-bottom:0px !important;background-color: transparent !important;width:100%;">
                                            <tbody data-bind="foreach: MaxCredits">
                                                <tr class="border-bottom3c8dbc">
                                                    <td class="pading6px" style="text-align:right">
                                                        <text data-bind="text: value"></text><br />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="text-left" data-bind="text: LastLoginIP"></td>
                                    <td class="text-left" data-bind="text: LastLogin"></td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="row">
                            <div id="content-wrapper" class="pull-right" style="margin-right:16px;">
                                <div class="inner clearfix">
                                    <section id="main-content">
                                        <div class="text-center">
                                            <ul id="pagination-persons" class="pagination-sm"></ul>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="customMessageTemplate" type="text/html">
        <em class="customMessage" data-bind="validationMessage: field"></em>
    </script>
    <div class="modal fade" id="myModalSelectPerson" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" data-bind="with: currentPeople"><span data-bind="text: Username"></span>-Change Password</h4>
                </div>
                <div class="modal-body">
                    <form id="FormChangeItemPassword" class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label for="NewPassword" class="col-sm-4 input-sm control-label">New Password</label>
                                <div class="col-sm-8" data-bind="validationElement: password">
                                    <input type="password" data-bind="value: password" class="form-control newPassword input-sm" id="reset-new-password" name="newPassword" placeholder="New Password">
                                    <p class="text-danger" data-bind="validationMessage: password"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword" class="col-sm-4 input-sm control-label">Confirm Password</label>
                                <div class="col-sm-8" data-bind="validationElement: confirmpassword">
                                    <input type="password" data-bind="value: confirmpassword" class="form-control ConfirmPassword input-sm" id="reset-confirm-password" name="ConfirmPassword" placeholder="Confirm Password">
                                    <p class="text-danger" data-bind="validationMessage: confirmpassword"></p>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="modal-footer" data-bind="with: currentPeople">
                                <button id="Submit" type="button" class="btn btn-success submit-change" data-bind="click: $parent.resetpassword.bind($data)">
                                    Save Change
                                </button>
                                <button type="button" id="" class="btn btn-danger close-password " data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/custome-person-listdownline-javascript")
