﻿@model  ALT.Web.GamePlayer.Models.GameCommonViewModel
@{ Layout = null;
    string pointRate = Model.GameAccess.PointRate.ToString();
    var gameDownloadURL = Model.GameSetting.DowloadURL.LastIndexOf("/") == Model.GameSetting.DowloadURL.Length - 1 ? Model.GameSetting.DowloadURL : Model.GameSetting.DowloadURL + "/";
}
<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>@Model.GameSetting.GameCode</title>

    <link rel="stylesheet" href="@Url.Content($"~/Game/{Model.GameSetting.GameCode}/TemplateData/style.css")">
    @Scripts.Render("~/bundles/show-play-game")
    <script type="text/javascript" src="@Url.Content($"~/Game/{Model.GameSetting.GameCode}/TemplateData/CSSPlugin.js")"></script>
    <script src="@Url.Content($"~/Game/{Model.GameSetting.GameCode}/TemplateData/UnityProgress.js")"></script>
    @Styles.Render("~/Content/show-play-game")
</head>
<body class="template" style="background: url(@Url.Content($"~/Content/Images/bg/{Model.GameSetting.GameCode}.jpg")) top center;background-repeat: no-repeat;background-size: cover;">
    <div class="template-wrap clear">
        <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="752" width="1280"></canvas>
        <br>
    </div>
    <div id="loadingBox">
        <div id="bgBar"></div>
        <div id="progressBar"></div>
        <img id="spinner" src="@Url.Content($"~/Game/{Model.GameSetting.GameCode}/TemplateData/spinner.gif")" style="display: none; margin: 0 auto" />
        <p id="loadingInfo">Loading...</p>
    </div>

    <script type='text/javascript'>
        var Module = {
            TOTAL_MEMORY: 268435456,
            errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
            compatibilitycheck: null,
            dataUrl: "@Url.Content($"{gameDownloadURL}/{Model.GameSetting.GameCode}.data")",
            codeUrl: "@Url.Content($"{gameDownloadURL}/{Model.GameSetting.GameCode}.js")",
            memUrl: "@Url.Content($"{gameDownloadURL}/{Model.GameSetting.GameCode}.mem")",
        };

        function getConnectionString() {
            var strToken = "@Model.GameAccess.SessionCode;@Model.GameSetting.Domain";
            var strPortSerect = ";@Model.GameSetting.Port;@Model.GameAccess.Secret;assetkey";
            var connectionString = strToken + strPortSerect;
            SendMessage('GameController', 'getConnectionStringCallBack', connectionString);

            SendMessage('GameController', 'SetPointRate', "@pointRate");
        }

        function UpdatePoints(points) {
            SendMessage("GameController", "DepositCredit", points.toString());
        }


        function HandleUpdateCurrentPoint(points) {
            SendMessage("GameController", "HandleUpdateCurrentPoint", points.toString());
        }

        function UpdateCurrentPoints(points) {
            try {
                window.opener.ReceiveUpdatePointForWeb(points, '@Model.GameSetting.GameCode');
            } catch (e) {
            }
        }



        function GetSomeInfo(info) {
        }

        function OnDisconneted() {
            try {
                window.opener.OnDisconnetedForWeb(true, '@Model.GameSetting.GameCode');
            } catch (e) {

            }

        }

        jQuery(window).bind(
                     "beforeunload",
                       function (e) {
                           var activeElementTagName = e.target.activeElement.tagName;
                           if (activeElementTagName != "A" && activeElementTagName != "INPUT") {
                               OnDisconneted();
                           }
                       });
    </script>

    <script src="@Url.Content($"{gameDownloadURL}/UnityLoader.js")"></script>
</body>
</html>
