﻿@model  IEnumerable<ALT.Common.Models.GameResp>
@using ALT.Web.GamePlayer.Core;
@{
    ViewBag.Title = "Games";
    decimal point = AuthManager.AuthIdentity.Points;
    decimal pointRate = AuthManager.AuthIdentity.PointRate;
    var tokenCurrent = AuthManager.AuthIdentity.SessionCode;
    var currencyCode = AuthManager.AuthIdentity.CurrencyCode;
}
<input type="text" value="@tokenCurrent" id="tokenCurrent" hidden />
<div id="get-all-game" class="bg_load">
    <div class="header" style="min-height:1px">
        <div class="top-menu" style="height:112px">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 pull-left img-logo">
                        <img src="@Url.Content("~/Content/Images/data/logo/logo.png")" />
                    </div>
                    <div class="col-md-6">
                        <input id="ocode" value="@ALT.Web.GamePlayer.Core.AuthManager.AuthIdentity.SessionCode" hidden>
                        <input id="point-rate" value="@ALT.Web.GamePlayer.Core.AuthManager.AuthIdentity.PointRate" hidden>
                        <div class="text-right">
                            <div class="header-lang text-right pull-right" style="margin-top: -25px;">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <img src="@Url.Content("~/Content/Images/icon/flagUS.png")" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div style="color:white;font-size:16px;margin-top: 29px;">
                                <div>Uersname:<span>@ALT.Web.GamePlayer.Core.AuthManager.AuthIdentity.Username</span></div>
                                <div>Balance @currencyCode:<span id="balance"></span></div>
                                <div>
                                    <a class="btn btn-info btn-sm" target="_blank" href="@Url.Action("Index","GameHistory")">History</a>
                                    @Html.ActionLink("Log out", "Logout", "Account", new { token = ALT.Web.GamePlayer.Core.AuthManager.AuthIdentity.SessionCode },
                                          new { @class = "btn-signout btn btn-danger btn-sm" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class='row'>
            <nav class='col-xs-12'>
                <div class='newsnav'>
                    <div class='search'><i class="fa fa-search"></i> ALL</div>
                    <ul class='newslinks'>
                        <li>
                            @*<a href='#'>
                                    Featured Games
                                </a>*@
                            <a href='#' class="active">
                                Slots
                            </a>
                            @*<a href='#'>
                                    About
                                </a>
                                <a href='#'>
                                    Contact
                                </a>*@
                        </li>
                    </ul>
                </div>
            </nav>
            <nav class='col-xs-12'>
                <div class='searchnav'>
                    <ul>
                        <li id='filter-name'><i class="fa fa-filter" aria-label='filter by name'></i> BY NAME</li>
                        <li id='filter-date'><i class="fa fa-filter"></i> BY DATE</li>
                        <li class='search-field'>
                            <input id='article-search' placeholder='Search for an article.'>
                        </li>
                        <li class='close-search'><i class="fa fa-times"></i></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class='row' data-bind="foreach : getAllGame ">
            <div data-bind="visible: Enable()">
                <a href='#' class='col-lg-3 col-md-4 col-sm-6 col-xs-6 col-xxs-12'>
                    <article class='style1'>
                        <input data-bind="visible : isComingsoon(), attr: {id: Code } , click:  $parent.playgame.bind($data)"
                               class="play-game" @*value="Play Game"*@ type="button" style="background: url(@Url.Content("~/Content/Images/icon/icon-play-now.png")) no-repeat;" />
                        <div data-bind="foreach : Settings">
                            <div class='coming-soon' data-bind="visible: !Enable()">
                                COMING SOON
                            </div>
                            <div class='date-new' data-bind="visible: IsNew()">
                                NEW
                            </div>
                            <div class='date-hot' data-bind="visible: IsHot()">
                                HOT
                            </div>
                        </div>
                        <div data-bind="visible : isItemGameLoading()">
                            <i class="loader fa fa-spinner"></i>
                        </div>
                        <img data-bind="attr:{src: imagePath}" height="167" width="236" />

                        <div class='content'>
                            <div class='title text-center'>
                                <span data-bind="text : Name" style="opacity:0.8"></span>
                            </div>
                        </div>
                    </article>
                </a>
            </div>
        </div>
    </div>
    <div data-bind="visible : isLoading()">
        <div class="wrapper">
            <div class="inner">
                <span>L</span>
                <span>o</span>
                <span>a</span>
                <span>d</span>
                <span>i</span>
                <span>n</span>
                <span>g</span>
            </div>
        </div>
    </div>
</div>
<div class='newsbottom'>
    <div class='to-top'><i class="fa fa-arrow-up"></i></div>
</div>

@Scripts.Render("~/bundles/signalR")
<script src="~/signalr/hubs"></script>
@Scripts.Render("~/bundles/get-all-game")

