﻿<div class="header">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pull-left img-logo">
                    <img src="@Url.Content("~/Content/Images/data/logo/logo.png")" />
                </div>
                <div class="col-md-6">
                    <div class="header-lang text-right pull-right">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="@Url.Content("~/Content/Images/icon/flagUS.png")" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-time text-right pull-right">
                        @String.Format("{0:D}", DateTime.Now)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">              
                </div>
                <div class="col-md-4">
                    <div class="login-form" style="background: url(@Url.Content("~/Content/Images/bg/bg-formLogin.png")) top center">
                        <div class="row  login-form-head">
                            <div class="col-md-12">
                                <b>LOGIN</b>
                            </div>
                        </div>
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "FormLogin", ReturnUrl = ViewBag.ReturnUrl }))
                        {
                            <div class="row login-form-content-input">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Username</label>
                                            <input id="username" type="text" class="form-control" name="username" value="@Model" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:10px">
                                        <div class="col-md-12">
                                            <label>Password</label>
                                            <input id="password" type="password" class="form-control" name="password" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="has-error" style="margin: 15px;">
                                @Html.ValidationMessage("ErrorMessageID", new { @class = "error" })
                            </div>
                            <div class="row login-form-content-button">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-sign-in form-control btn">SIGN IN</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-sign-up form-control" onclick="javascript:return false;">SIGN UP</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>