﻿@{
    ViewBag.Title = "Log";
}
<section class="content-header">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Log</li>
        </ol>
    </div>
</section>


