﻿@using ALT.Common.Models;
@{
    ViewBag.Title = "Game Budget Control";

    //var GameList = (IList<GameResp>)ViewBag.GameList;
    var settingType = GameBudgetTypeArray.Values.Select(c => new SelectListItem
    {
        Selected = c == GameBudgetType.Budget,
        Value = c.ToString(),
        Text = c.ToString()
    }).ToArray();

}

<div id="game-budget">
    <section class="content-header" style="padding-top: 0px;">
        <div class="row">
            <ol class="breadcrumb">
                <li class="active">Game Budget</li>
            </ol>
        </div>
    </section>
    <div class="content" style="margin-top: -26px;">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-1" style="text-align: center;margin-top: 4px;">
                @Html.Label("SettingType")
            </div>
            <div class="col-md-4">
                @Html.DropDownList("SettingType",
              settingType,
              new
              {
                  @class = "form-control input-sm setting-type",
                  @data_bind = "value: valueTypeSetting , event: { change: selectionChanged }"
              })
            </div>
            <a href="#budget" data-toggle="modal" class="btn btn-success btn-flat input-sm" data-bind="click: BindModelBudgetModal">
                <span class="glyphicon glyphicon-new-window"></span>
                Add
            </a>
        </div>
        <div class="row">
            <div class="box" style="margin-bottom:0 !important">
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                        </div><div class="row">
                            <div class="col-sm-12" style="overflow-x:auto;">
                                <table id="nomember" class="table table-bordered table-striped dataTable input-sm" role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr role="row" style="background:#3c8dbc;color:#fff">
                                            <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 300px;">No</th>
                                            <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Game Type</th>
                                            <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Type</th>
                                            <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Point</th>
                                            <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Edit Amount</th>
                                            <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach : items">
                                        <tr role="row" class="odd">
                                            <td class="text-center" data-bind="text: $index() + 1"></td>
                                            <td class="text-left" data-bind="text: GameName"></td>
                                            <td class="text-left" data-bind="text: Type"></td>
                                            <td class="text-right">
                                                <text data-bind="text: Points">
                                                    <i data-bind="visible: IsProcessing" class="fa fa-circle-o-notch fa-spin"></i>
                                                </text>
                                            </td>
                                            <td class="text-center">
                                                <input id="point" class="point text-right" data-bind="value:inputPoint , event: {click : $parent.clickInputPoint,keypress: $parent.keyperss_inputPoint}, valueUpdate: 'afterkeydown'" onkeypress="return isNumberKey(event);" />

                                            </td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-success btn-xs" data-bind="click: $parent.update_gamebudget.bind($data,false)" style="margin-top: 3px;">Submit</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div id="content-wrapper" class="pull-right" style="margin-right:14px">
                                <div class="inner clearfix">
                                    <section id="main-content">
                                        <div class="text-center">
                                            <ul id="pagination-transfer-non-member" class="pagination-sm"></ul>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="budget" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" data-bind="with: modelBudgetModal">
                        <div class="form-group">
                            <label class="col-md-3  input-sm control-label" for="name">Game Name</label>
                            <div class="col-md-9">
                                <select data-bind="options: checkgetgame,
                                   optionsText: 'Name',
                                   value: valueTypeSettingAdd" class="form-control input-sm"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3  input-sm control-label" for="email">Setting Type</label>
                            <div class="col-md-9">
                                <input id="point" class="form-control input-sm" data-bind="value: valueTypeSetting " disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3  input-sm control-label" for="email">Point</label>
                            <div class="col-md-9">
                                <input id="Points" data-bind="value: inputPointAdd" name="Points" type="text" placeholder="" class="form-control input-sm" value="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="text-right">
                                <button type="button" class="btn btn-success" data-bind="click: $parent.save_setting_type" style="margin-right: 14px;">Save</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-right: 14px;">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/game-budget")


