﻿@using ALT.Web.Management.Models;
@using ALT.Common.Models;
@using ALT.Web.Management.Core;

@{
    ViewBag.Title = "SummaryReport";
    var getAllCurrency = (List<CurrencyViewModel>)ViewBag.GetAllCurrency;
    var currencyOCodeByUsername = AuthManager.AuthIdentity.Currencies.Select(c => c.Code).FirstOrDefault();
    var selectpersonOcode = AuthManager.AuthIdentity.PersonCode;
    var selectCurrencyCode = AuthManager.AuthIdentity.Currencies.Select(c => c.Code).FirstOrDefault();
}

<input id="personOCode" value="@selectpersonOcode" hidden />
<div id="summary-report">
    <section class="content-header" style="padding-top: 0px;">
        <div class="row">
            <ol class="breadcrumb" id="breadcrumb-person" data-bind="foreach : GetBreadcrumbPerson">
                <li>
                    <a href="#" data-bind="text: value ,click: $parent.breadcrumbclickpersondownline.bind(key)"></a>
                </li>
            </ol>
        </div>
    </section>

    <div class="row" style="margin-left:18px;margin-top: -12px;">
        <div class="form-group" style="height:70px">
            <div class="row" style="margin-bottom: 0;">
                <div>
                    <label for="start-date" class="col-md-1 text-left" style="height: 28px;padding-top: 4px;font-size: 12px;">Report Type</label>
                    <div class="col-md-2">
                        @Html.DropDownList("ReportType", new List<SelectListItem>
                        {
                            new SelectListItem() {Text = "By Game Type", Value="ByGameType"}
                        }, new { @class = "input-sm", @type = "text" })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 0;">
                <div>
                    <label for="start-date" class="col-md-1 text-right" style="height: 28px;padding-top: 4px">Date</label>
                    <div class="col-md-2">
                        @Html.DropDownList("Date", new List<SelectListItem>
                        {
                            new SelectListItem() {Text = "Daily", Value="Daily"},
                            new SelectListItem() {Text = "Yesterday", Value="Yesterday"},
                            new SelectListItem() {Text = "LastWeek", Value="LastWeek"}
                        }, new { @class = "form-control input-sm", @type = "text" })
                    </div>
                </div>
                <div>
                    <label for="start-date" class="col-md-1" style="height: 28px;padding-top: 4px;">Start Date</label>
                    <div class="col-md-3 inline">
                        <div class="input-group col-md-7 datetimepicker1">
                            <input type="text" id="StartDate" data-datepicker-format="mm/dd/yyyy" data-datepicker-nodefault="false" name="Date" class="form-control input-sm" value="@DateTime.Now.ToString("MM/dd/yyyy")">
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <div class="input-group  col-md-5 datetimepicker1" style="position: absolute;right: 0;top: 0;">
                            <input type="text" id="StartTime" name="StartTime" class="form-control input-sm" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <div class="">
                    <label for="currencyCode" class="col-md-1 text-right" style="height: 28px;padding-top: 4px">Currency</label>
                    <div class="col-md-2">
                        <input id="filterCurrencyOcode" value="@currencyOCodeByUsername" hidden>
                        <select class="form-control input-sm" id="CurrencyCode" name="CurrencyCode" data-bind="event: { change: $root.changeCurrencyOCode(personCode()) }">
                            @foreach (var item in getAllCurrency)
                            {
                                <option value="@item.Rate">@item.Code</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <label for="start-date" class="col-md-1 text-right" style="height: 28px;padding-top: 4px">Username</label>
                    <div class="col-md-2">
                        @Html.TextBox("Username", string.Empty, new { @class = "form-control input-sm ", @type = "text", @autocomplete = "off" })
                    </div>
                </div>
                <div>
                    <label for="end-date" class="col-md-1" style="height: 28px; padding-top: 4px;">End Date</label>
                    <div class="col-md-3">
                        <div class="input-group  col-md-7  datetimepicker1">
                            <input type="text" id="EndDate" data-datepicker-format="mm/dd/yyyy" data-datepicker-nodefault="false" name="Date" class="form-control input-sm" value="@DateTime.Now.ToString("MM/dd/yyyy")">
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <div class="input-group  col-md-5 datetimepicker1" style="position: absolute;right: 0;top: 0;">
                            <input type="text" id="EndTime" name="EndTime" class="form-control input-sm" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <div class="">
                    <label for="Rate" class="col-md-1 text-right" style="height: 28px; padding-top: 4px;">Rate</label>
                    <div class="col-md-2">
                        @Html.TextBox("Rate", getAllCurrency.Select(c => c.Rate).FirstOrDefault(), new { @class = "form-control input-sm ", @type = "text", @readonly = "readonly" })
                    </div>
                </div>
                <span>
                    <button id="submit-winloss-report" type="submit" class="btn btn-success input-sm" style="height: 29px;padding-top: 4px;margin-left: 11px;" data-bind="click: $root.submit">Submit</button>
                </span>
            </div>
        </div>
    </div>
    <div class="content">
        <table id="summary-current-person" class="table table-bordered table-striped dataTable input-sm" role="grid" aria-describedby="example1_info" data-bind="visible: IsCurrentName()">
            <thead>
                <tr role="row" style="background:#3c8dbc;color:#fff">
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">
                        <span data-bind="text : IsCurrentName"></span>
                    </th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Game Sites</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Currency</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Bet Amount(@currencyOCodeByUsername)</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Win Amount(@currencyOCodeByUsername)</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px">Win/loss Amount(@currencyOCodeByUsername)</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;background: #a2a2a2">Bet Amount (<span class="rateCurrencyOCode">@selectCurrencyCode</span>)</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;background: #a2a2a2">Win Amount (<span class="rateCurrencyOCode">@selectCurrencyCode</span>)</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px; background: #a2a2a2">Win/loss Amount (<span class="rateCurrencyOCode">@selectCurrencyCode</span>)</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: mapCurrentSummaryReport">
                <tr role="row" class="odd">
                    <td class="text-center" data-bind="text : Username"></td>
                    <td class="text-left" data-bind="text : GameSites"></td>
                    <td class="text-left" data-bind="text : CurrencyCode"></td>
                    <td class="text-right" data-bind="text : BetAmount"></td>
                    <td class="text-right" data-bind="text : WinAmount"></td>
                    <td class="text-right" data-bind="text : TotalWinLossHTML , style:{color:  TotalWinLossAmount() < 0 ? 'red' : '' }"></td>
                    <td class="text-right" data-bind="text : BetAmountRateCurrencyCode"></td>
                    <td class="text-right" data-bind="text : WinAmountRateCurrencyCode"></td>
                    <td class="text-right" data-bind="text : TotalWinLossAmountRateCurrencyCodeHTML , style:{color:  TotalWinLossAmountRateCurrencyCode() < 0 ? 'red' : '' }"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr style="background-color:#fadbce">
                    <td class="text-center">
                        Sum
                    </td>
                    <td colspan="5"></td>
                    <td class="text-right" data-bind="text: totalBetCurrentPersons"></td>
                    <td class="text-right" data-bind="text : totalWinCurrentPersons"></td>
                    <td class="text-right" data-bind="text: totalWinLossCurrentPersonsHTML , style:{color:  totalWinLossCurrentPersons() < 0 ? 'red' : '' }"></td>
                </tr>
            </tfoot>
        </table>
        <table id="summary-no-member" class="table table-bordered table-striped dataTable input-sm" role="grid" aria-describedby="example1_info" data-bind="visible: IsNoMember()">
            <thead>
                <tr role="row" style="background:#3c8dbc;color:#fff">
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Username</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Type</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Game Sites</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Currency</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Bet Amount</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Win Amount</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px">Win/loss Amount</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;background: #a2a2a2">Bet Amount (<span class="rateCurrencyOCode">@selectCurrencyCode</span>)</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;background: #a2a2a2">Win Amount (<span class="rateCurrencyOCode">@selectCurrencyCode</span>)</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px; background: #a2a2a2">Win/loss Amount (<span class="rateCurrencyOCode">@selectCurrencyCode</span>)</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: mapSummaryReportNoMember">
                <tr role="row" class="odd">
                    <td class="text-center">
                        <a href="#">
                            <span data-bind="click: $parent.personDownline">
                                <text data-bind="text : Username"></text>
                            </span>
                        </a>
                    </td>
                    <td class="text-left" data-bind="text : Type"></td>
                    <td class="text-left" data-bind="text : GameSites"></td>
                    <td class="text-left" data-bind="text : CurrencyCode"></td>
                    <td class="text-right" data-bind="text : BetAmount"></td>
                    <td class="text-right" data-bind="text : WinAmount"></td>
                    <td class="text-right" data-bind="text :TotalWinLossHTML , style:{color:  TotalWinLossAmount() < 0 ? 'red' : '' }"></td>
                    <td class="text-right" data-bind="text : BetAmountRateCurrencyCode"></td>
                    <td class="text-right" data-bind="text : WinAmountRateCurrencyCode"></td>
                    <td class="text-right" data-bind="text : TotalWinLossAmountRateCurrencyCodeHTML , style:{color:  TotalWinLossAmountRateCurrencyCode() < 0 ? 'red' : '' }"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr style="background-color:#fadbce">
                    <td class="text-center">
                        GrandTotal
                    </td>
                    <td colspan="6"></td>
                    <td class="text-right" data-bind="text: totalBetNoMembers"></td>
                    <td class="text-right" data-bind="text : totalWinNoMembers"></td>
                    <td class="text-right" data-bind="text: totalWinLossNoMembersHTML , style:{color:  totalWinLossNoMembers() < 0 ? 'red' : '' }"></td>
                </tr>
            </tfoot>
        </table>
        <table id="summary-member" class="table table-bordered table-striped dataTable input-sm" role="grid" aria-describedby="example1_info" data-bind="visible: IsMember()">
            <thead>
                <tr role="row" style="background:#3c8dbc;color:#fff">
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">
                        <span data-bind="text : IsMember"></span>
                    </th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Game Sites</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Currency</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Bet Amount</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Win Amount</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Win/loss Amount</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;background: #a2a2a2">Win/loss Amount(<span class="rateCurrencyOCode">@selectCurrencyCode</span>)</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: mapMember">
                <tr role="row" class="odd">
                    <td class="text-center">
                        <a class="background-image-none" data-bind="attr: { 'href': '@Url.Action("TransactionDetailReport", "Report")?username=' + Username() +'&CurrencyOcode=' +  CurrencyCode() + '&startDate=' + StartDate() + '&endDate=' + EndDate() + '&startTime=' + StartTime() + '&endTime=' + EndTime() }">
                            <span data-bind="text: Username"></span>
                        </a>
                    </td>
                    <td class="text-left" data-bind="text : GameSites"></td>
                    <td class="text-left" data-bind="text : CurrencyCode"></td>
                    <td class="text-right" data-bind="text : BetAmount"></td>
                    <td class="text-right" data-bind="text : WinAmount"></td>
                    <td class="text-right" data-bind="text : TotalWinLossHTML , style:{color:  TotalWinLossAmount() < 0 ? 'red' : '' }"></td>
                    <td class="text-right" data-bind="text :TotalWinLossAmountRateCurrencyCodeHTML , style:{color:  TotalWinLossAmountRateCurrencyCode() < 0 ? 'red' : '' }"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr style="background-color:#fadbce">
                    <td class="text-center">
                        GrandTotal
                    </td>
                    <td colspan="2"></td>
                    <td class="text-right" data-bind="text: totalBetMembers"></td>
                    <td class="text-right" data-bind="text : totalWinMembers"></td>
                    <td class="text-right" data-bind="text: totalWinLossMembersHTML , style:{color:  totalWinLossMembers() < 0 ? 'red' : '' }"></td>
                    <td class="text-right" data-bind="text: totalWinLossChangeRateCurrencyMembersHTML , style:{color:  totalWinLossChangeRateCurrencyMembers() < 0 ? 'red' : '' }"></td>
                </tr>
            </tfoot>
        </table>
        <div class="row">
            <div id="content-wrapper" class="pull-right" style="margin-right:16px;">
                <div class="inner clearfix">
                    <section id="main-content">
                        <div class="text-center">
                            <ul id="pagination-daily-win-loss-rp" class="pagination-sm"></ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/summary-report")
