﻿@using ALT.Web.Management.Models;
@using ALT.Common.Models;
@using ALT.Web.Management.Core;
@{
    ViewBag.Title = "TransactionDetailReport";
    var getAllCurrency = (List<CurrencyViewModel>)ViewBag.GetAllCurrency;
    var filterTransactionDetail = (FillerTransactionDetailViewModel)ViewBag.filterTransactionDetail;    
    PersonType personType = AuthManager.AuthIdentity.Type;
}

<div id="transaction-report">
    <section class="content-header" style="padding-top:0px;">
        <div class="row">
            <ol class="breadcrumb">
                <li class="active">
                    Transaction details
                </li>
            </ol>
        </div>
    </section>
    <div class="row" style="margin-left:18px;margin-top: -12px;">
        <div class="form-group" style="height:70px">
            <div class="row breadcrumb" style="margin-bottom: 0;">
                <div>
                    <label for="start-date" class="col-md-1 text-right" style="height: 28px;padding-top: 4px">Date</label>
                    <div class="col-md-2">
                        @Html.DropDownList("Date", new List<SelectListItem>
                        {
                            new SelectListItem() {Text = "Daily", Value="Daily"},
                            new SelectListItem() {Text = "Yesterday", Value="Yesterday"},
                            new SelectListItem() {Text = "LastWeek", Value="LastWeek"}
                        }, new { @class = "form-control input-sm", @type = "text" })
                    </div>
                </div>
                <div>
                    <label for="start-date" class="col-md-1" style="height: 28px;padding-top: 4px;">Start Date</label>
                    <div class="col-md-3 inline">
                        <div class="input-group col-md-7 datetimepicker1">
                            <input type="text" id="StartDate" data-datepicker-format="mm/dd/yyyy" data-datepicker-nodefault="false" name="Date" class="form-control input-sm" value="@filterTransactionDetail.StartDate.ToString("MM/dd/yyyy")">
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <div class="input-group  col-md-5" style="position: absolute;right: 0;top: 0;">
                            <input type="text" id="StartTime" name="Date" class="form-control input-sm" readonly="readonly" value="@filterTransactionDetail.StartTime.ToString("HH:mm")"/>
                        </div>
                    </div>
                </div>
                <div class="">
                    <label for="currencyCode" class="col-md-1 text-right" style="height: 28px;padding-top: 4px">Currency</label>
                    <div class="col-md-2">
                        <input id="filterCurrencyOcode" value="@filterTransactionDetail.CurrencyOcode" hidden>
                        <select class="form-control" id="CurrencyCode" name="CurrencyCode">
                            @foreach (var item in getAllCurrency)
                            {
                                <option value="@item.Rate">@item.Code</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row breadcrumb">
                <div class="">
                    <label for="start-date" class="col-md-1 text-right" style="height: 28px;padding-top: 4px">Username</label>
                    <div class="col-md-2">
                        @Html.TextBox("Username", String.IsNullOrEmpty(filterTransactionDetail.Username) ? filterTransactionDetail.Username : string.Empty, new { @class = "form-control input-sm ", @type = "text", @autocomplete = "off" })
                    </div>
                </div>
                <div>
                    <label for="end-date" class="col-md-1" style="height: 28px; padding-top: 4px;">End Date</label>
                    <div class="col-md-3">
                        <div class="input-group  col-md-7  datetimepicker1">
                            <input type="text" id="EndDate" data-datepicker-format="mm/dd/yyyy" data-datepicker-nodefault="false" name="Date" class="form-control input-sm" value="@filterTransactionDetail.EndDate.ToString("MM/dd/yyyy")">
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <div class="input-group  col-md-5" style="position: absolute;right: 0;top: 0;">
                            <input type="text" id="EndTime" name="EndTime" data-datepicker-format="HH:mm" data-datepicker-nodefault="false" class="form-control input-sm" readonly="readonly" value="@filterTransactionDetail.EndTime.ToString("HH:mm")"/>
                        </div>
                    </div>
                </div>
                <div class="">
                    <label for="Rate" class="col-md-1 text-right" style="height: 28px; padding-top: 4px;">Rate</label>
                    <div class="col-md-2">
                        @Html.TextBox("Rate", getAllCurrency.Select(c => c.Rate).FirstOrDefault(), new { @class = "form-control input-sm ", @type = "text", @readonly = "readonly" })
                    </div>
                </div>
                <span>
                    <button id="submit-winloss-report" type="submit" class="btn btn-success input-sm" style="height: 29px;padding-top: 4px;margin-left: 11px;" data-bind="click: $root.submit">Submit</button>
                </span>
            </div>
        </div>
    </div>
    <div class="content">
        <table id="daily-win-loss" class="table table-bordered table-striped dataTable input-sm" role="grid" aria-describedby="example1_info">
            <thead>
                <tr role="row" style="background:#3c8dbc;color:#fff">
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 300px;">No</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">@personType</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Username</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">GameTransaction</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Table</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">GameName</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 97px;">Currency</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Type</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Amount</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Result</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">StartBalance</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">EndBalance</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;">Time</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 229px;" hidden>Detail</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: transactionDetails ">
                <tr role="row" class="odd">
                    <td class="text-center" data-bind="text: index"></td>
                    <td class="text-left" data-bind="text: PersonOCode"></td>
                    <td class="text-left" data-bind="text: Username"></td>
                    <td class="text-left" data-bind="text: GameTransactionOCode"></td>
                    <td class="text-left" data-bind="text: GameCategory"></td>
                    <td class="text-left" data-bind="text: GameName"></td>
                    <td class="text-left" data-bind="text: CurrencyCode"></td>
                    <td class="text-left" data-bind="text: Type"></td>
                    <td class="text-right" data-bind="text: Amount"></td>
                    <td class="text-right" data-bind="text: Result"></td>
                    <td class="text-right" data-bind="text: StartBalance"></td>
                    <td class="text-right" data-bind="text: EndBalance"></td>
                    <td class="text-left">
                        <span data-bind="text: Date"></span>
                        <br />
                        <span data-bind="text: Time"></span>
                    </td>
                    <td class="text-center" hidden>
                        <button type="button" data-toggle="dropdown" class="small-button" style="float:none;">
                            <span class="glyphicon glyphicon-new-window"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div id="content-wrapper" class="pull-right" style="margin-right:16px;">
                <div class="inner clearfix">
                    <section id="main-content">
                        <div class="text-center">
                            <ul id="pagination-transaction-detail-report" class="pagination-sm"></ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/transaction-detail-report")
