﻿@using ALT.Web.Management.Core;
@{
    ViewBag.Title = "WinLossReport";
    var selectEditOcode = AuthManager.AuthIdentity.Currencies.Select(c=>c.Code).FirstOrDefault();
}
<div id="daily-win-loss-report">
    <section class="content-header">
        <div class="row">
            <ol class="breadcrumb">
                <li class="active">Daily win/loss report</li>
            </ol>
        </div>
    </section>
    <div class="row" style="margin-left:18px;margin-top: -12px;">
        <div class="form-group" style="height:70px">
            <div class="row breadcrumb" style="margin-bottom: 0;">
                <div>
                    <label for="start-date" class="col-md-1 text-right" style="height: 28px;padding-top: 4px">Date</label>
                    <div class="col-md-2">
                        @Html.DropDownList("Date", new List<SelectListItem>
                        {
                            new SelectListItem() {Text = "Daily", Value="Daily"},
                            new SelectListItem() {Text = "Yesterday", Value="Yesterday"},
                            new SelectListItem() {Text = "LastWeek", Value="LastWeek"}
                        }, new { @class = "form-control input-sm", @type = "text" })
                    </div>
                </div>
                <div>
                    <label for="start-date" class="col-md-1" style="height: 28px;padding-top: 4px;">Start Date</label>
                    <div class="col-md-3 inline">
                        <div class="input-group col-md-7 datetimepicker1">
                            <input type="text" id="StartDate" data-datepicker-format="mm/dd/yyyy" data-datepicker-nodefault="false" name="Date" class="form-control input-sm" value="@DateTime.Now.ToString("MM/dd/yyyy")">
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <div class="input-group  col-md-5 datetimepicker1" style="position: absolute;right: 0;top: 0;">
                            <input type="text" id="StartTime" name="StartTime" class="form-control input-sm" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row breadcrumb">
                <div class="">
                    <label for="start-date" class="col-md-1 text-right" style="height: 28px;padding-top: 4px">Username</label>
                    <div class="col-md-2">
                        @Html.TextBox("Username", string.Empty, new { @class = "form-control input-sm ", @type = "text", @autocomplete = "off" })
                    </div>
                </div>
                <div>
                    <label for="end-date" class="col-md-1" style="height: 28px; padding-top: 4px;">End Date</label>
                    <div class="col-md-3">
                        <div class="input-group  col-md-7  datetimepicker1">
                            <input type="text" id="EndDate" data-datepicker-format="mm/dd/yyyy" data-datepicker-nodefault="false" name="Date" class="form-control input-sm" value="@DateTime.Now.ToString("MM/dd/yyyy")">
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <div class="input-group  col-md-5 datetimepicker1" style="position: absolute;right: 0;top: 0;">
                            <input type="text" id="EndTime" name="EndTime" class="form-control input-sm" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <span>
                    <button id="submit-winloss-report" type="submit" class="btn btn-success input-sm" style="height: 29px;padding-top: 4px;margin-left: 11px;" data-bind="click: $root.submit">Submit</button>
                </span>
            </div>
        </div>
    </div>
    <div class="content">
        <table id="win-loss" class="table table-bordered table-striped dataTable input-sm" role="grid" aria-describedby="example1_info">
            <thead>
                <tr role="row" style="background:#3c8dbc;color:#fff">
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 54px;">No</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Time</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Total Bet</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Total Win</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Total Win/Loss</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Total User Bet</th>
                    <th class="sorting_asc text-center vertical-align" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 100px;">Total New User Bet</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: dailyWinLoss">
                <tr role="row" class="odd">
                    <td class="text-center" data-bind="text : index"></td>
                    <td class="text-center" data-bind="text : Date"></td>
                    <td class="text-right" data-bind="text : TotalAmount"></td>
                    <td class="text-right" data-bind="text : TotalResult"></td>
                    <td class="text-right" data-bind="text : TotalWinLossHtml , style:{color:  TotalWinLoss() < 0 ? 'red' : '' }"></td>
                    <td class="text-right" data-bind="text : TotalUsername"></td>
                    <td class="text-right" data-bind="text : TotalNewUserBet"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr style="background-color:#fadbce">
                    <td class="text-center">
                        GrandTotal(@selectEditOcode)
                    </td>
                    <td colspan="1"></td>
                    <td class="text-right" data-bind="text: totalBets"></td>
                    <td class="text-right" data-bind="text : totalWins"></td>
                    <td class="text-right" data-bind="text: totalWinLosssHTML , style:{color:  totalWinLosss() < 0 ? 'red' : '' }"></td>
                    <td class="text-right" data-bind="text: totalUserBets"></td>
                    <td class="text-right" data-bind="text: totalNewUserBets"></td>
                </tr>
            </tfoot>
        </table>
        <div class="row">
            <div id="content-wrapper" class="pull-right" style="margin-right:16px;">
                <div class="inner clearfix">
                    <section id="main-content">
                        <div class="text-center">
                            <ul id="pagination-daily-win-loss-rp" class="pagination-sm"></ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/daily-win-loss-report")
