﻿@font-face {
    font-family: 'Conv_Roboto-Regular';
    src: url('fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

body {
    /*background: url('../Images/bg/bg-content.png')top center;*/
}
/* Set padding to keep content from hitting the edges */
.body-content {
    min-height: 1300px;
}
