﻿div#loadingBox {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  text-align: center;
  border-radius: 13px;
}
div#bgBar {
  position: absolute;
  width: 200px;
  margin-left: -100px;
  left: 50%;
  background: red;
  height: 20px;
}
div#progressBar {
  content: '';
  display: block;
  background: orange;
  width: 0px;
  height: 20px;
  border-radius: 13px;
}
div#bgBar {
  border-radius: 13px;
}
p#loadingInfo {
  color: #fff;
  letter-spacing: 1px;
  position: absolute;
  width: 100%;
  font-family: "Monaco", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  margin-top: 19px;
}
.template-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.template-wrap canvas {
  margin: 0 0 10px 0;
  position: relative;
  z-index: 9;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.fullscreen {
  float: right;
  position: relative;
  z-index: 10;
}
.wrapper {
  /* Size and position */
  font-size: 20px;
  /* 1em */
  width: 9em;
  height: 9em;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
  /* Styles */
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  border: 1em dashed rgba(138, 189, 195, 0.5);
  box-shadow: inset 0 0 2em rgba(255, 255, 255, 0.3), 0 0 0 0.7em rgba(255, 255, 255, 0.3);
  animation: rota 3.5s linear infinite;
  /* Font styles */
  font-family: 'Racing Sans One', sans-serif;
  color: #444;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0.04em rgba(255, 255, 255, 0.9);
  line-height: 6em;
}
.wrapper:before,
.wrapper:after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: inherit;
  box-shadow: inset 0 0 2em rgba(255, 255, 255, 0.3);
  border: 1em dashed;
}
.wrapper:before {
  border-color: rgba(138, 189, 195, 0.2);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.wrapper:after {
  border-color: rgba(138, 189, 195, 0.4);
  top: 1em;
  right: 1em;
  bottom: 1em;
  left: 1em;
}
.wrapper .inner {
  width: 100%;
  height: 100%;
  animation: rota 3.5s linear reverse infinite;
}
.wrapper span {
  display: inline-block;
  animation: placeholder 1.5s ease-out infinite;
}
.wrapper span:nth-child(1) {
  animation-name: loading-1;
}
.wrapper span:nth-child(2) {
  animation-name: loading-2;
}
.wrapper span:nth-child(3) {
  animation-name: loading-3;
}
.wrapper span:nth-child(4) {
  animation-name: loading-4;
}
.wrapper span:nth-child(5) {
  animation-name: loading-5;
}
.wrapper span:nth-child(6) {
  animation-name: loading-6;
}
.wrapper span:nth-child(7) {
  animation-name: loading-7;
}
@keyframes rota {
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading-1 {
  14.28% {
    opacity: 0.3;
  }
}
@keyframes loading-2 {
  28.57% {
    opacity: 0.3;
  }
}
@keyframes loading-3 {
  42.86% {
    opacity: 0.3;
  }
}
@keyframes loading-4 {
  57.14% {
    opacity: 0.3;
  }
}
@keyframes loading-5 {
  71.43% {
    opacity: 0.3;
  }
}
@keyframes loading-6 {
  85.71% {
    opacity: 0.3;
  }
}
@keyframes loading-7 {
  100% {
    opacity: 0.3;
  }
}