﻿
@import "lib.less";

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

a, a:hover {
    text-decoration: none;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
/* footer social icons */
.social-network a {
    background-color: #333333;
    color: transparent;
}

.social-network a i {
    color: #040404;
}

.social-network a.icoRss:hover {
    background-color: #F56505;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoYoutube:hover {
    background-color: #FD5C99;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoInstagram:hover {
    background-color: #3A5988;
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i,
.social-network a.icoInstagram:hover i, .social-network a.icoYoutube:hover i {
    color: #fff;
}

a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: 14px;
}

.social-circle li i {
    margin: 0;
    line-height: 35px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
/*end language*/
/*start header*/
.header {  
    min-height: 794px;
    padding-top: 36px;
    font-family: 'Roboto-Regular';
}

.header .top-menu {
    background-color: rgba(12, 11, 11, 0.65);
    height: 83px;
    position: relative;
}

.header .top-menu .img-logo img {
    position: absolute;
    top: -21px;
}

.header .header-time {
    margin-top: 35px;
    font-family: 'Roboto-Regular';
    font-weight: 700;
    color: #FED8A8;
}

.header .header-lang {
    margin-top: 35px;
}

.header .header-lang ul {
    list-style: none;
}

.header .header-lang li {
    display: inline-flex;
    margin-left: 5px;
}

.header .header-content {
    min-height: 675px;
}

.header .login-form {
    background: url('/Content/Images/bg/bg-formLogin.png') top center;
    min-height: 327px;
    margin-top: 50px;
    border-radius: 7px;
    box-shadow: 0px 1px 0px 0px #201717;
    padding: 13px;
    color: #fff;
}

.header .login-line {
    background-color: #D38D52;
    height: 1px;
}

.header .login-form-head {
    height: 47px;
    font-size: 23px;
    text-align: center;
}

.header .login-form-content {
    min-height: 217px;
}

.header .login-form-content-welcome {
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
}

.login-form-content-welcome .user-name {
    font-size: 34px;
    font-weight: 700;
}

.header .login-form-content-welcome img {
    border-radius: 50%;
    margin-left: 14px;
}

.header .login-form-content-input {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
}

.header .login-form-content-input label {
    margin-bottom: 7px;
}

.header .login-form-content-input input {
    background-color: rgba(0, 0, 0, 0.12) !important;
    border: 1px solid #6F3D9D !important;
    height: 41px;
    color: #fff;
}

.header .login-form-content-button {
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
}

.btn-sign-in {
    background-color: #22BD32;
    font-weight: 700;
    color: #fff;
}

.btn-sign-in:hover {
    background-color: #27d83a;
    color: #fff;
}

.btn-sign-up {
    background-color: #D9B086;
    font-weight: 700;
    color: #fff;
}

.btn-sign-up:hover {
    background-color: #f5b97c;
    color: #fff;
}

.header .login-form-footer {
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
}

.header .login-form-footer ul {
    list-style: none;
    padding-left: 0;
}

.header .login-form-footer li {
    display: inline-flex;
    margin-left: 5px;
    margin-right: 18px;
}

.header .login-form-footer .icoFacebook {
    color: #fff !important;
    background-color: #3B5998 !important;
}

.header .login-form-footer .icoGoogle {
    color: #fff !important;
    background-color: #BD3518 !important;
}

.header .login-form-footer i {
    color: #fff !important;
}

.header .login-form-footer .social-login {
    margin-top: 30px;
}

.header .login-form-footer a {
    color: #fff;
}

.header .nav-menu {
    /*background: url('/Content/Images/bg/bg-menu.png') top center;*/
    height: 73px;
}

/*end header*/
/*start footer*/
.footer .footer-top {
    /*background: url('/Content/Images/bg/bg-footer.png') top center;*/
    min-height: 250px;
}

.footer .footer-bottom {
    min-height: 104px;
    background-color: #21181A;
}
/*end footer*/
