﻿body.opened,
html.opened {
  overflow: hidden;
  position: relative;
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.newslinks a {
  text-decoration: none;
}
nav .newsnav {
  height: 35px;
  background: #005596;
}
nav .newsnav #recentnews {
  font-family: 'Abel';
  font-size: 20px;
  height: 100%;
  padding: 0 14px 0 8px;
  background: #faA634;
  color: #fff;
  float: left;
}
nav .newsnav #recentnews i {
  margin: 8px;
}
ul.newslinks {
  float: right;
}
.newslinks a {
  float: left;
  padding: 6px 10px 0 10px;
  color: #fff;
  font-family: 'Abel';
  font-size: 16px;
  height: 35px;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.newslinks a:hover {
  color: #faA634;
  text-decoration: none;
}
.newslinks a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  width: 0;
  background: #faA634;
  transition: width 0.3s ease-in-out;
}
.newslinks a:hover:after {
  width: 100%;
}
.newslinks a.more-links {
  display: none;
}
.newsnav .search {
  background: #faA634;
  padding: 5px 9px;
  width: 80px;
  height: 35px;
  float: right;
  color: #fff;
  font-family: 'Abel';
  font-size: 18px;
  cursor: pointer;
}
.newsnav .search:hover {
  color: #005596;
}
nav .searchnav {
  height: 0;
  overflow: hidden;
  background: #faA634;
  transition: height 0.3s ease-in-out;
}
nav .searchnav ul {
  float: right;
  display: block;
}
nav .searchnav li {
  color: #fff;
  float: left;
  padding: 7px 8px 0 8px;
  height: 35px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease-in-out;
  font-family: 'Abel';
  font-size: 16px;
}
nav .searchnav li:hover {
  color: #005596;
}
nav .searchnav li:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  width: 0;
  background: #005596;
  transition: width 0.3s ease-in-out;
}
nav .searchnav li:hover:after {
  width: 100%;
}
nav .searchnav li.close-search {
  font-size: 18px;
  padding: 5px 12px;
}
nav .searchnav li.close-search:after {
  display: none;
}
nav .searchnav li.search-field {
  font-family: sans-serif;
  font-size: 12px;
  color: #000;
}
nav .searchnav li input {
  height: 80%;
  border: none;
  padding: 0 5px 0 5px;
  width: 400px;
}
nav .searchnav li.search-field:after {
  display: none;
}
nav .searchnav.opened {
  height: 35px;
}
.archive {
  display: block;
  padding-top: 15px;
  position: absolute;
  z-index: 6000;
  background: #fff;
  height: 0;
  overflow: hidden;
  left: 0;
  transition: height 0.4s ease-in-out;
  width: 100%;
}
.archive.opened {
  height: 370px;
}
.archive #active-article .contain {
  min-height: 50px;
  max-height: 250px;
  overflow: hidden;
}
.archive #active-article img {
  width: 100%;
}
.archive #active-article .info p {
  margin-top: 6px;
}
ul#archive-list {
  font-family: 'Oswald';
  font-size: 16px;
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
}
#archive-list li {
  padding: 5px;
  color: #002743;
}
#archive-list #date {
  color: #005596;
  display: inline-block;
  margin-right: 6px;
}
#archive-list li:hover #date {
  color: #fff;
}
#archive-list #title {
  display: inline-block;
}
#archive-list li:hover {
  background: #005596;
  color: #fff;
}
#archive-list #date.new {
  color: #faA634;
}
#archive-list:hover #date.new {
  color: #faA634;
}
article.style1 {
  position: relative;
  height: auto;
  min-height: 150px;
  overflow: hidden;
  margin-top: 15px;
}
article.style1:hover .play-game {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  z-index: 999;
}
article img {
  width: 100%;
  z-index: 2;
  margin: 0 0 0 0;
  transition: transform 0.4s ease-in-out, margin 0.4s ease-in-out, filter 0.4s ease-in-out;
}
article img.show {
  opacity: 1;
}
article .loader {
  position: absolute;
  left: calc(25%);
  top: calc(25%);
  color: #005596;
  font-size: 50px;
  z-index: 0;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
article.style1:hover img {
  margin: 0 0 0 0%;
  transform: scale(1.15);
  filter: grayscale(0%);
}
article.style1 .coming-soon {
  position: absolute;
  z-index: 3;
  left: 0;
  width: 116px;
  height: 24px;
  background: #e43519;
  font-family: 'Oswald';
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-top: 3px;
}
article.style1 .coming-soon.old {
  padding-top: 2px;
  background: #005596;
}
article.style1 .coming-soon.old:before {
  font-size: 14px;
}
article.style1 .date-new {
  position: absolute;
  z-index: 3;
  left: 0;
  width: 50px;
  height: 24px;
  background: #e43519;
  font-family: 'Oswald';
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-top: 3px;
}
article.style1 .date-new.old {
  padding-top: 2px;
  background: #005596;
}
article.style1 .date-new.old:before {
  font-size: 14px;
}
article.style1 .date-hot {
  position: absolute;
  z-index: 3;
  right: 0;
  width: 50px;
  height: 24px;
  background: #e43519;
  font-family: 'Oswald';
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-top: 3px;
}
article.style1 .date-hot.old {
  padding-top: 2px;
  background: #005596;
}
article.style1 .date-hot.old:before {
  font-size: 14px;
}
article.style1 .content {
  position: absolute;
  height: auto;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 4;
}
article.style1 .title {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
  background: rgba(0, 85, 150, 0.75);
  font-family: 'Oswald';
  font-style: normal;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  color: #fff;
  transition: background 0.4s ease-in-out;
}
article.style1:hover .title {
  background: #005596;
}
article.style1 .info {
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 0;
  background: #faA634;
  text-align: left;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, color 0.4s ease-in-out;
}
article.style1 .info p {
  padding: 5px;
  font-family: sans-serif;
  font-style: normal;
  font-size: 12px;
  color: #fff;
}
article.style1:hover .info {
  max-height: 75px;
  color: #fff;
}
.newsbottom .to-top {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  background: #005596;
  pointer-events: all;
  cursor: pointer;
}
.newsbottom .to-top i {
  color: #fff;
  font-size: 20px;
  margin: 10px;
}
@media (max-width: 650px) {
  .col-xxs-12 {
    width: 100%;
  }
  .hidden-xxs {
    display: none;
  }
  article.style1:hover .info,
  article.style2:hover .info {
    max-height: 0px;
  }
  article img {
    filter: grayscale(0%);
  }
  article.style1:hover img,
  article.style2:hover img {
    width: 100%;
    margin: 0 0 0 0;
  }
  article.style2 .share {
    right: 0;
  }
}
@media (max-width: 768px) {
  .archive #active-article {
    display: none;
  }
}
@media (max-width: 992px) {
  ul.newslinks {
    background: #005596;
    padding: 0 15px;
    max-height: 35px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    position: absolute;
    right: 90px;
    z-index: 10000;
  }
  .newslinks a {
    float: none;
    background: #005596;
    padding: 0 0;
    color: #fff;
    font-family: 'Abel';
    font-size: 16px;
    height: 35px;
    position: relative;
    transition: color 0.3s ease-in-out;
    line-height: 35px;
  }
  ul.newslinks:hover {
    max-height: 250px;
  }
  .newslinks a.more-links {
    display: block;
  }
  .newslinks a.more-links:hover {
    color: #fff;
  }
  .newslinks a.more-links:after {
    display: none;
  }
  nav .searchnav.opened {
    height: 70px;
  }
  nav .searchnav ul {
    float: left;
    width: 100%;
  }
  nav .searchnav li.search-field {
    width: 100%;
  }
  nav .searchnav li.close-search {
    position: absolute;
    right: 12px;
  }
  nav .searchnav li.search-field input {
    width: 100%;
  }
}
.play-game {
  height: 28px;
  position: absolute;
  margin: -21px -71px;
  width: 100px;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 132px;
  border: none;
  width: 149px;
  height: 38px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
}