﻿<div class="pull-right hidden-xs">
</div>
<strong>
    Copyright &copy; 2016 ALT
</strong>
All rights reserved.

<div class="pull-right">
    <label>
        <b>Version</b> 1.1.0       
    </label>
</div>
