﻿<div id="content-changepassword">
    <a href="#" class="logo">
        <span class="logo-mini"><b>A</b>LT</span>
        <span class="logo-lg"><b>Asianlive</b>Tech</span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu" style="display:none">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>
                <li class="dropdown notifications-menu" style="display:none">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">10</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                        page and may cause design problems
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-red"></i> 5 new members joined
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user text-red"></i> You changed your username
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                <li class="dropdown tasks-menu" style="display:none">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">9</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 9 tasks</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <h3>
                                            Design some buttons
                                            <small class="pull-right">20%</small>
                                        </h3>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h3>
                                            Create a nice theme
                                            <small class="pull-right">40%</small>
                                        </h3>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">40% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <h3>
                                            Some task I need to do
                                            <small class="pull-right">60%</small>
                                        </h3>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>

                                    <a href="#">
                                        <h3>
                                            Make beautiful transitions
                                            <small class="pull-right">80%</small>
                                        </h3>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">80% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">View all tasks</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span>@ALT.Web.Management.Core.AuthManager.AuthIdentity.Username</span>
                        <i class="fa fa-angle-down pull-right" style="margin-top:4px;"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="~/Content/Images/no-images.jpg" class="img-circle" alt="User Image" />
                            <p>
                                <input id="ocode" data-Ocode="@ALT.Web.Management.Core.AuthManager.AuthIdentity.PersonCode" hidden />
                                <input id="username" data-Username="@ALT.Web.Management.Core.AuthManager.AuthIdentity.Username" hidden />
                                <span>@ALT.Web.Management.Core.AuthManager.AuthIdentity.Username</span>
                                <small>@DateTime.Now.Year</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" data-toggle="modal" class="btn btn-success" style="background-color:#00a65a" data-bind="click: $root.ShowChangePassword">Change Password</a>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("Logout","Account")" class="btn btn-danger" style="background-color:#dd4b39">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="modal fade" id="myModal" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body">
                    <form id="FormChangePassword" , class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label for="OldPassword" class="col-sm-4 control-label input-sm">Old Password</label>
                                <div class="col-sm-8" data-bind="validationElement: oldpassword">
                                    <input type="password" data-bind="value: oldpassword" class="form-control oldPassword" id="oldpassword" name="oldpassword" placeholder="Old Password">                                    
                                    <p class="text-danger" data-bind="validationMessage: oldpassword"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="NewPassword" class="col-sm-4 control-label input-sm">New Password</label>
                                <div class="col-sm-8" data-bind="validationElement: newpassword">
                                    <input type="password" data-bind="value: newpassword" class="form-control newPassword" id="newpassword" name="newPassword" placeholder="New Password">                                    
                                    <p class="text-danger" data-bind="validationMessage: newpassword"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword" class="col-sm-4 control-label input-sm">Confirm Password</label>
                                <div class="col-sm-8" data-bind="validationElement: confirmchangepassword">
                                    <input type="password" data-bind="value: confirmchangepassword" class="form-control confirmchangepassword " id="confirmchangepassword " name="confirmchangepassword " placeholder="Confirm Password">                               
                                    <p class="text-danger" data-bind="validationMessage: confirmchangepassword "></p>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="modal-footer">
                                <button id="Submit" type="button" class="btn btn-success submit-change" data-bind="click: $root.savechangepassword.bind($data)">
                                    Save Change
                                </button>
                                <button id="btn-close-change-password" type="button" class="btn btn-danger close-password" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/knockout/change-password.js"></script>