﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AsianLiveTech</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="@Url.Content("~/logo.ico")" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
       //file person.js knouck js
        var person_downline_url = "@Url.Action("GetPersonDownline", "Person")";
        var person_breadcrumb_url = "@Url.Action("GetBreadcrumbPerson", "Person")";
        var person_status_url = "@Url.Action("ChangeStatus", "Person")";
        var person_change_password_url = "@Url.Action("ChangePassword", "Person")";
        var autocomplete_username_url ="@Url.Action("SearchUsername", "Person")";

        //file transfer.js knouck js
        var transfer_get_balance_url =  "@Url.Action("GetBalance", "Transfer")";
        var transfer_url = "@Url.Action("Transfer", "Transfer")";
        var transfer_transferhistory_url = "@Url.Action("TransferHistory", "Transfer")";

        //file Report
        var transaction_detail_url = "@Url.Action("TransactionDetailFillterReport", "Report")";
        var daily_win_loss_url = "@Url.Action("DailyWinLossReport", "Report")";
        var summary_report_url = "@Url.Action("SummaryFillterReport", "Report")";
    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            @Html.Partial("_Header")
        </header>
        @Html.Partial("_Menu")
        <div class="content-wrapper" style="min-height: 693px;opacity: 1;margin-top: -20px;">
            @RenderBody()
        </div>
        <footer class="main-footer">
            @Html.Partial("_Footer")
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>