﻿﻿@using ALT.Common.Helpers
@using ALT.Common.Models;
@using ALT.Web.Management.Infrastructer;
@using ALT.Common;
@using ALT.Web.Management.Infrastructer;
@using ALT.Web.Management.Core;
@{
    PersonType currentPersonType = AuthManager.AuthIdentity.Type;
    var createAgency = AuthManager.AuthIdentity.CreateAgency;
    var createMember = AuthManager.AuthIdentity.CreateMember;
}
<aside class="main-sidebar" id="menu">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/Images/no-images-160.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info" style="padding: 18px">
                <a>
                    <i class="fa fa-circle text-success"></i>
                    @AuthManager.AuthIdentity.Username
                </a>
            </div>
        </div>
        <form action="#" method="get" class="sidebar-form" style="display:none">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <ul class="sidebar-menu">
            <li class="treeview @Html.ActivePageParent("Report", "WinLossReport") ||
                                @Html.ActivePageParent("Report", "TransactionDetailReport") ||
                                @Html.ActivePageParent("Report", "SummaryReport")">
                <a href="#">
                    <i><b>1.</b> </i>
                    <span> Report</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.ActivePage("Report", "SummaryReport",null)">
                        <a href="@Url.Action("SummaryReport", "Report")"><i><b>1.1</b></i> Summary</a>
                    </li>
                    <li class="@Html.ActivePage("Report", "WinLossReport",null)">
                        <a href="@Url.Action("WinLossReport", "Report")"><i><b>1.2</b></i> Daily win/Loss</a>
                    </li>
                    <li class="@Html.ActivePage("Report", "TransactionDetailReport",null)">
                        <a href="@Url.Action("TransactionDetailReport", "Report")"><i><b>1.3</b></i> Transaction Detail</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.ActivePageParent("Person", "PersonDownline") ||
                       @Html.ActivePage("Person", "AddPerson", "CreateAgency" )||
                       @Html.ActivePage("Person", "AddPerson" , "CreateMember")">
                <a href="#">
                    <i><b>2.</b></i>
                    <span>@currentPersonType</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @if (createAgency && currentPersonType != PersonType.Agent)
                    {
                        <li class="@Html.ActivePage("Person", "AddPerson" , "CreateAgency")">
                            <a href="@Url.Action("AddPerson", "Person", new { type = "CreateAgency" })">
                                <span><b>2.1</b></span> Create Agency
                            </a>
                        </li>
                    }

                    @if (createMember)
                    {
                        <li class="@Html.ActivePage("Person", "AddPerson" , "CreateMember")">
                            <a href="@Url.Action("AddPerson", "Person",new { type = "CreateMember" })">
                                <span><b>2.2</b></span> Create Member
                            </a>
                        </li>
                    }
                    <li class="@Html.ActivePage("Person", "PersonDownline",null)">
                        <a href="@Url.Action("Downline", "Person")">
                            <span><b>2.3</b></span> Downlines
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@Html.ActivePageParent("Transfer", "Transfer")">
                <a href="@Url.Action("MenuTransfer","Transfer")">
                    <i>
                        <b>3.</b>
                    </i>
                    <span> Transfer</span>
                </a>
            </li>
            @if (currentPersonType == PersonType.Admin)
            {
                <li class="@Html.ActivePageParent("Game", "Index")">
                    <a href="@Url.Action("Index","Game")">
                        <i>
                            <b>4.</b>
                        </i>
                        <span> Game Budget</span>
                    </a>
                </li>
            }

            <li style="display:none">
                <a href="#">
                    <i>
                        <b>4.</b>
                    </i>
                    <span> Setting</span>
                </a>
            </li>
        </ul>
    </section>
</aside>

