﻿<div class="header">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pull-left img-logo">
                    <img src="@Url.Content("~/Content/Images/data/logo/logo.png")" />
                </div>
                <div class="col-md-6">
                    <div class="header-lang text-right pull-right">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="@Url.Content("~/Content/Images/icon/flagCA.png")" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="@Url.Content("~/Content/Images/icon/flagMA.png")" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="@Url.Content("~/Content/Images/icon/flagVN.png")" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="@Url.Content("~/Content/Images/icon/flagTL.png")" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="@Url.Content("~/Content/Images/icon/flagCN.png")" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="@Url.Content("~/Content/Images/icon/flagUS.png")" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-time text-right pull-right">
                        @String.Format("{0:D}", DateTime.Now)
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    @*image*@
                </div>
                <div class="col-md-4">
                    <div class="login-form">
                        <div class="row  login-form-head">
                            <div class="col-md-12">
                                <b>LOGIN</b>
                            </div>
                        </div>
                        <div class="login-line"></div>

                        <form class="login-form-content" id="login">
                            <div class="row login-form-content-welcome">
                                <div class="col-md-4" style="padding-right:0">
                                    <img src="@Url.Content("~/Content/Images/data/avatar/img-avatar.png")" width="73" height="73" />
                                </div>
                                <div class="col-md-8" style="padding-left:0">
                                    <span style="margin-top:5px">WELCOME</span>
                                    <br />
                                    <span class="user-name">GUEST</span>
                                </div>
                            </div>
                            <div class="row login-form-content-input">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label> USER NAME</label>
                                            <input id="username" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:10px">
                                        <div class="col-md-12">
                                            <label> PASSWORD</label>
                                            <input id="password" type="password" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row login-form-content-button">
                                <div class="col-md-6">
                                    <button class="btn btn-sign-in form-control btn" data-bind="click: $root.login.bind($data)">SIGN IN</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-sign-up form-control">SIGN UP</button>
                                </div>
                            </div>
                        </form>

                        <div class="login-line"></div>
                        <div class="row login-form-footer">
                            <div class="col-md-12">
                                <a href="#">*Forgotten account?</a>
                                <div class="social-login">
                                    <ul class="social-network social-circle">
                                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/knockout/login.js"></script>