﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AsianLiveTech</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="@Url.Content("~/logo.ico")" type="image/x-icon" />
    <script src="https://rawgit.com/adamwdraper/numeral-js/master/numeral.js"></script>
    @Styles.Render("~/Content/css")

    <script>
        //file url get-balance-url
        var get_balance_url = "@Url.Action("GetBalanceByOcode", "Home")";
        var get_all_game = "@Url.Action("GetAllGamne", "Home")";
        var pathImages = "@Url.Content("~/Content/Images/data/images-game/")";

        window.logouturl = '@Url.Action("Logout", "Account")';
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app")

</head>
<body class="hold-transition skin-blue sidebar-mini" style="background: url(@Url.Content("~/Content/Images/bg/bg-content.png")) top center">
    @RenderBody()
    <script>
        var ismobile = navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(android)|(webOS)/i);
        if (ismobile) {
            $("#datepicker input").addClass('no-grey').prop('readonly', true);
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>