﻿/*==============Login Admin===============*/
.login-page {
  background-color: #3c8dbc;
  height: 0 !important;
  width: 360px;
  margin: 14% auto;
}
.has-feedback label ~ .form-control-feedback {
  top: 0 !important;
}
/*===============Header==============*/
.skin-blue {
  background-color: #fff !important;
}
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  z-index: 1029 !important;
}
/*===============breadcrumb=========*/
/*================table=============*/
.header-color {
  background-color: #3c8dbc;
}
/*========Loading=============*/
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.table-processing {
  position: relative;
}
.cssload-container {
  width: 100%;
  height: 56px;
  text-align: center;
  position: absolute;
  top: 50%;
}
.cssload-double-torus {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 40%;
  background-repeat: no-repeat;
  background-image: url('../../Images/default.gif');
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  /*min-height: 100%;*/
}
body {
  margin: 0;
  background: #3D5A59;
  font-family: 'Raleway', Arial, sans-serif;
}
.section {
  text-align: center;
  height: 100%;
  margin: 0 auto;
  padding: 6em 0;
}
.section__title {
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  margin-bottom: 3em;
}
.section--aava {
  background: #2994B2;
}
.section--tuuli {
  background: #474744;
}
.section--vesi {
  background: #54567A;
}
.section--sade {
  background: #2D4659;
}
.section--ilma {
  background: #095062;
}
.section--tuli {
  background: #068B78;
}
.toggle-button {
  margin: 0 20px;
}
/*
 * Toggle button styles
 */
.toggle-button {
  position: relative;
  display: inline-block;
  color: #fff;
}
.toggle-button label {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
}
.toggle-button input {
  display: none;
}
.toggle-button__icon {
  cursor: pointer;
  pointer-events: none;
}
.toggle-button__icon:before,
.toggle-button__icon:after {
  content: "";
  position: absolute;
  top: 45%;
  left: 35%;
  transition: 0.2s ease-out;
}
/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--aava label {
  height: 50px;
  line-height: 50px;
  transition: all 0.2s;
  border-radius: 2rem;
}
.toggle-button--aava label:before,
.toggle-button--aava label:after {
  position: absolute;
  right: 1.5rem;
  transition: all 0.2s 0.1s ease-out;
}
.toggle-button--aava label:before {
  content: attr(data-on-text);
}
.toggle-button--aava label:after {
  content: attr(data-off-text);
}
.toggle-button--aava input[type=checkbox] + label {
  width: 120px;
  background: #FF5335;
}
.toggle-button--aava input[type=checkbox] + label:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.toggle-button--aava input[type=checkbox] + label:after {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--aava input[type=checkbox]:checked ~ label {
  width: 120px;
  background: #61B136;
}
.toggle-button--aava input[type=checkbox]:checked ~ label:before {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--aava input[type=checkbox]:checked ~ label:after {
  opacity: 0;
  transform: translate(0, -20px);
}
.toggle-button--aava input[type=checkbox]:checked ~ .toggle-button__icon:before {
  transform: translate(-10%, 100%) rotate(45deg);
  width: 16.66667px;
}
.toggle-button--aava input[type=checkbox]:checked ~ .toggle-button__icon:after {
  transform: translate(30%) rotate(-45deg);
}
.toggle-button--aava .toggle-button__icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
}
.toggle-button--aava .toggle-button__icon:before,
.toggle-button--aava .toggle-button__icon:after {
  height: 3px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.toggle-button--aava .toggle-button__icon:before {
  width: 25px;
  transform: rotate(45deg);
}
.toggle-button--aava .toggle-button__icon:after {
  width: 25px;
  transform: rotate(-45deg);
}
/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--tuuli label {
  height: 50px;
  line-height: 50px;
  transition: all 0.2s;
  border-radius: 2rem;
}
.toggle-button--tuuli label:before,
.toggle-button--tuuli label:after {
  position: absolute;
  right: 1rem;
  transition: all 0.2s 0.1s ease-out;
}
.toggle-button--tuuli input[type=checkbox] + label {
  width: 50px;
  background: #FF5335;
}
.toggle-button--tuuli input[type=checkbox] + label:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.toggle-button--tuuli input[type=checkbox] + label:after {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--tuuli input[type=checkbox]:checked ~ label {
  width: 50px;
  background: #61B136;
}
.toggle-button--tuuli input[type=checkbox]:checked ~ .toggle-button__icon:before {
  transform: translate(-30%, 100%) rotate(45deg) scale(0.6, 1);
}
.toggle-button--tuuli input[type=checkbox]:checked ~ .toggle-button__icon:after {
  transform: translate(20%) rotate(-45deg);
}
.toggle-button--tuuli .toggle-button__icon {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
}
.toggle-button--tuuli .toggle-button__icon:before,
.toggle-button--tuuli .toggle-button__icon:after {
  width: 25px;
  height: 3px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin-left: -10%;
  top: 48%;
}
.toggle-button--tuuli .toggle-button__icon:before {
  transform: rotate(45deg);
}
.toggle-button--tuuli .toggle-button__icon:after {
  transform: rotate(-45deg);
}
/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--vesi label {
  height: 50px;
  line-height: 50px;
  transition: all 0.2s;
  border-radius: 2rem;
}
.toggle-button--vesi label:before,
.toggle-button--vesi label:after {
  position: absolute;
  right: 1.5rem;
  transition: all 0.2s 0.15s ease-out;
}
.toggle-button--vesi label:before {
  content: attr(data-on-text);
}
.toggle-button--vesi label:after {
  content: attr(data-off-text);
}
.toggle-button--vesi input[type=checkbox] + label {
  width: 150px;
  background: #FF5335;
}
.toggle-button--vesi input[type=checkbox] + label:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.toggle-button--vesi input[type=checkbox] + label:after {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--vesi input[type=checkbox]:checked ~ label {
  width: 180px;
  background: #61B136;
}
.toggle-button--vesi input[type=checkbox]:checked ~ label:before {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--vesi input[type=checkbox]:checked ~ label:after {
  opacity: 0;
  transform: translate(0, -20px);
}
.toggle-button--vesi input[type=checkbox]:checked ~ .toggle-button__icon:before {
  transform: translate(-10%, 100%) rotate(45deg);
  width: 16.66667px;
}
.toggle-button--vesi input[type=checkbox]:checked ~ .toggle-button__icon:after {
  transform: translate(30%) rotate(-45deg);
}
.toggle-button--vesi .toggle-button__icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
}
.toggle-button--vesi .toggle-button__icon:before,
.toggle-button--vesi .toggle-button__icon:after {
  height: 3px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.toggle-button--vesi .toggle-button__icon:before {
  width: 25px;
  transform: rotate(90deg);
}
.toggle-button--vesi .toggle-button__icon:after {
  width: 25px;
  transform: rotate(0);
}
/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--sade {
  width: 100px;
  height: 20px;
}
.toggle-button--sade label {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  transition: all 0.2s;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.toggle-button--sade label:before,
.toggle-button--sade label:after {
  position: absolute;
  top: 0;
  left: 30px;
  transition: all 0.2s 0.1s ease-out;
}
.toggle-button--sade label:before {
  content: attr(data-on-text);
}
.toggle-button--sade label:after {
  content: attr(data-off-text);
}
.toggle-button--sade input + label:before {
  opacity: 0;
  transform: translate(20px, 0);
}
.toggle-button--sade input + label:after {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--sade input:checked ~ label:before {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--sade input:checked ~ label:after {
  opacity: 0;
  transform: translate(20px, 0);
}
.toggle-button--sade input[type=checkbox]:checked ~ .toggle-button__icon:before,
.toggle-button--sade input[type=checkbox]:checked ~ .toggle-button__icon:after {
  background: #61B136;
}
.toggle-button--sade input[type=checkbox]:checked ~ .toggle-button__icon:before {
  transform: translate(-30%, 70%) rotate(45deg) scale(0.7, 1);
}
.toggle-button--sade input[type=checkbox]:checked ~ .toggle-button__icon:after {
  transform: translate(20%) rotate(-45deg);
}
.toggle-button--sade .toggle-button__icon {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  left: 0;
}
.toggle-button--sade .toggle-button__icon:before,
.toggle-button--sade .toggle-button__icon:after {
  width: calc(12px);
  height: 3px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin-left: -3px;
  top: 40%;
  background: #FF5335;
}
.toggle-button--sade .toggle-button__icon:before {
  transform: rotate(45deg);
}
.toggle-button--sade .toggle-button__icon:after {
  transform: rotate(-45deg);
}
.toggle-button--sade:hover label {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.toggle-button--sade:hover input[type=checkbox]:not(:checked) ~ .toggle-button__icon:before {
  animation: icon-hover-before 0.2s;
}
.toggle-button--sade:hover input[type=checkbox]:not(:checked) ~ .toggle-button__icon:after {
  animation: icon-hover-after 0.2s;
}
@keyframes icon-hover-before {
  0% {
    transform: rotate(45deg) scale(1, 1);
  }
  100% {
    transform: rotate(45deg) scale(1.2, 1.2);
  }
}
@keyframes icon-hover-after {
  0% {
    transform: rotate(-45deg) scale(1, 1);
  }
  50% {
    transform: rotate(-45deg) scale(1.2, 1.2);
  }
}
/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--ilma {
  width: 100px;
  height: 20px;
}
.toggle-button--ilma label {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  transition: all 0.2s;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.toggle-button--ilma label:before,
.toggle-button--ilma label:after {
  position: absolute;
  top: 0;
  left: 30px;
  transition: all 0.2s 0.1s ease-out;
}
.toggle-button--ilma label:before {
  content: attr(data-on-text);
}
.toggle-button--ilma label:after {
  content: attr(data-off-text);
}
.toggle-button--ilma input + label:before {
  opacity: 0;
  transform: translate(20px, 0);
}
.toggle-button--ilma input + label:after {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--ilma input:checked ~ label:before {
  opacity: 1;
  transform: translate(0, 0);
}
.toggle-button--ilma input:checked ~ label:after {
  opacity: 0;
  transform: translate(20px, 0);
}
.toggle-button--ilma input[type=checkbox]:checked ~ .toggle-button__icon:before,
.toggle-button--ilma input[type=checkbox]:checked ~ .toggle-button__icon:after {
  background: #61B136;
  transition: none;
  transform-origin: left center;
}
.toggle-button--ilma input[type=checkbox]:checked ~ .toggle-button__icon:before {
  animation: iconShowBefore .3s;
  transform: translate(0, 0) rotate(45deg) scale(0.6, 1);
}
.toggle-button--ilma input[type=checkbox]:checked ~ .toggle-button__icon:after {
  animation: iconShowAfter .6s;
  transform: translate(4px, 6px) rotate(-45deg);
}
.toggle-button--ilma .toggle-button__icon {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  left: 0;
}
.toggle-button--ilma .toggle-button__icon:before,
.toggle-button--ilma .toggle-button__icon:after {
  width: calc(14px);
  height: 3px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin-left: -4px;
  top: 40%;
  background: #FF5335;
  transform-origin: center center;
}
.toggle-button--ilma .toggle-button__icon:before {
  transform: rotate(45deg);
}
.toggle-button--ilma .toggle-button__icon:after {
  transform: rotate(-45deg);
}
.toggle-button--ilma:hover label {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.toggle-button--ilma:hover input[type=checkbox]:not(:checked) ~ .toggle-button__icon:before {
  animation: iconHoverBefore .2s;
}
.toggle-button--ilma:hover input[type=checkbox]:not(:checked) ~ .toggle-button__icon:after {
  animation: iconHoverAfter .2s;
}
@keyframes iconShowBefore {
  0% {
    transform: translate(0, 0) rotate(45deg) scale(0, 1);
  }
  100% {
    transform: translate(0, 0) rotate(45deg) scale(0.6, 1);
  }
}
@keyframes iconShowAfter {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(4px, 6px) rotate(-45deg) scale(0, 1);
  }
  100% {
    transform: translate(4px, 6px) rotate(-45deg) scale(1, 1);
  }
}
@keyframes iconHoverBefore {
  0% {
    transform: rotate(45deg) scale(1, 1);
  }
  100% {
    transform: rotate(45deg) scale(1.2, 1.2);
  }
}
@keyframes iconHoverAfter {
  0% {
    transform: rotate(-45deg) scale(1, 1);
  }
  50% {
    transform: rotate(-45deg) scale(1.2, 1.2);
  }
}
/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--tuli label {
  line-height: 20px;
  text-indent: 30px;
}
.toggle-button--tuli input[type=checkbox]:checked ~ .toggle-button__icon {
  background: #fff;
}
.toggle-button--tuli input[type=checkbox]:checked ~ .toggle-button__icon:before,
.toggle-button--tuli input[type=checkbox]:checked ~ .toggle-button__icon:after {
  opacity: 1;
}
.toggle-button--tuli .toggle-button__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  border: 2px solid #fff;
  border-radius: 1px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.toggle-button--tuli .toggle-button__icon:before,
.toggle-button--tuli .toggle-button__icon:after {
  top: 5px;
  left: 2px;
  width: 12px;
  height: 2px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  top: 35%;
  background: #61B136;
  opacity: 0;
  transform-origin: left center;
}
.toggle-button--tuli .toggle-button__icon:before {
  transform: translate(0, 0) rotate(45deg) scale(0.6, 1);
}
.toggle-button--tuli .toggle-button__icon:after {
  transform: translate(4px, 6px) rotate(-45deg);
}
.toggle-button--tuli:hover input[type=checkbox]:not(:checked) ~ .toggle-button__icon {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
/*==============================TODO Searchign=========================*/
.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
}
.input-group-btn .btn-group {
  display: flex !important;
}
.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
@media screen and (min-width: 768px) {
  #adv-search {
    width: 500px;
    margin: 0 auto;
  }
  .dropdown.dropdown-lg {
    position: static !important;
  }
  .dropdown.dropdown-lg .dropdown-menu {
    min-width: 500px;
  }
}
.wizard {
  margin: 20px auto;
  background: #fff;
}
.wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}
.wizard > div.wizard-inner {
  position: relative;
}
.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}
.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}
span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
span.round-tab i {
  color: #555555;
}
.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de;
}
.wizard li.active span.round-tab i {
  color: #5bc0de;
}
span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}
.wizard .nav-tabs > li {
  width: 25%;
}
.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out;
}
.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
}
.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}
.wizard .nav-tabs > li a:hover {
  background: transparent;
}
.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}
.wizard h3 {
  margin-top: 0;
}
.step1 .row {
  margin-bottom: 10px;
}
.step_21 {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
}
.step33 {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.dropselectsec {
  width: 68%;
  padding: 6px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  margin-left: 10px;
  outline: none;
  font-weight: normal;
}
.dropselectsec1 {
  width: 74%;
  padding: 6px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  margin-left: 10px;
  outline: none;
  font-weight: normal;
}
.mar_ned {
  margin-bottom: 10px;
}
.wdth {
  width: 25%;
}
.birthdrop {
  padding: 6px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  margin-left: 10px;
  width: 16%;
  outline: 0;
  font-weight: normal;
}
/* according menu */
#accordion-container {
  font-size: 13px;
}
.accordion-header {
  font-size: 13px;
  background: #ebebeb;
  margin: 5px 0 0;
  padding: 7px 20px;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.unselect_img {
  width: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.active-header {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: #F53B27;
}
.active-header:after {
  content: "\f068";
  font-family: 'FontAwesome';
  float: right;
  margin: 5px;
  font-weight: 400;
}
.inactive-header {
  background: #333;
}
.inactive-header:after {
  content: "\f067";
  font-family: 'FontAwesome';
  float: right;
  margin: 4px 5px;
  font-weight: 400;
}
.accordion-content {
  display: none;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.accordion-content a {
  text-decoration: none;
  color: #333;
}
.accordion-content td {
  border-bottom: 1px solid #dcdcdc;
}
@media (max-width: 585px) {
  .wizard {
    width: 90%;
    height: auto !important;
  }
  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}
/*Custome*/
.set-front-size-background {
  font-size: 12px;
  /*background: antiquewhite;*/
  /*padding-top: 3px;*/
  /*padding: 6px;*/
}
.background-beige {
  padding-top: 7px;
}
.margin10px {
  padding: 10px;
}
/*transfer*/
.transfer-filter .button-checkbox {
  width: 150px;
  height: 80px;
}
.background-no-member {
  background: #848a8a;
  text-align: center;
  color: azure;
}
.background-member {
  background: #848A6E;
  text-align: center;
  color: azure;
}
.submit-no-member {
  background: #848a8a;
}
.submit-member {
  background: #848a6e;
}
.skin-blue .treeview-menu > li > a {
  font-size: 12px !important;
}
.login-box-body {
  border-radius: 5px !important;
}
.staus {
  background: none repeat scroll 0 0 #fff;
  border-right: 1px solid #C3C3C3;
}
.Active {
  background: #fff;
}
.Suspend {
  background: beige;
}
.Disable {
  background: bisque;
}
li.background-antiquewhite a {
  color: #fff;
}
#radioBtn .notActive {
  color: #3276b1;
  background-color: #fff;
}
#date-time-hour {
  padding: 15px;
  color: #fff;
}
.no-padding-left {
  float: none;
  padding: 14px;
}
.error {
  color: #a94442 !important;
  font-weight: 100;
}
.padding21px {
  padding: 0;
  margin-right: 5px;
  /*width: 69px;*/
}
.panel-heading {
  height: 51px;
}
ul.nav.nav-tabs {
  color: #fff !important;
}
form#FormLogin a {
  display: inline !important;
}
#CaptchaInputText1 {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
}
#CaptchaImage1 {
  float: left;
  display: block;
  width: 75%;
  height: 51px;
}
.backgroundEE0 {
  background: #3c8dbc !important;
}
.backgroundEE0 li a {
  display: block;
  color: #fff !important;
  border-top: 1px solid #3c8dbc;
  border-bottom: 1px solid #3c8dbc;
  background-color: #3c8dbc !important;
}
.backgroundEE0 li {
  display: block;
  color: #fff !important;
  border-top: 1px solid #3c8dbc;
  border-bottom: 1px solid #3c8dbc;
}
.backgroundEE0 li a:hover {
  background-color: transparent !important;
}
.backgroundEE0 li:hover {
  background-color: transparent !important;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.backgroundEE0 li.active {
  background-color: transparent !important;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.backgroundEE0 li:not(.active):hover {
  background-color: transparent !important;
}
.panel-heading {
  height: 51px;
}
ul.nav.nav-tabs {
  color: #fff !important;
}
table#ad.table.table-bordered.table-striped.dataTable tr:hover td {
  background-color: #e8e8e8;
}
table.table-bordered.table-striped.dataTable tr:hover td {
  background-color: #e8e8e8;
}
th.sorting_asc.text-center.vertical-align {
  vertical-align: middle;
}
.small-button {
  float: right;
  width: 17px;
  height: 19px;
  padding: 0;
}
div.box-header.with-border.text-center {
  background: #3c8dbc;
  color: #fff;
}
.margin-top7px {
  margin-top: 7px;
}
#CaptchaImage1 {
  width: 100% !important;
}
div.box-header.with-border.text-center.custome {
  background: #3c8dbc;
  color: #fff;
  height: 27px;
  text-align: -webkit-center;
  padding-top: 3px;
  vertical-align: middle;
}
td.td-in-table {
  padding-right: 0px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.select-background-item {
  background-color: #545454;
}
.pading8px {
  padding: 8px 0px;
  padding-top: 7px;
  text-align: center;
}
.pading10px {
  padding: 10px 0px;
  text-align: center;
}
.pading7px {
  padding: 7px 0px;
  text-align: center;
}
.pading6px {
  padding: 6px 0px;
  text-align: center;
}
.border-bottom3c8dbc {
  border-bottom: 1px solid #3c8dbc !important;
}
.border-bottom3c8dbc:last-child {
  border-bottom: 0px solid #3c8dbc !important;
}
a.change-status.btn.btn-default:active {
  color: #fff !important;
  background-color: #265a88 !important;
}
a.change-status.btn.btn-default.active {
  color: #fff !important;
  background-color: #265a88 !important;
}
.background-image-none {
  background-image: none !important;
}
.text-main-info {
  font-weight: 100 !important;
  text-align: left !important;
}
.radio-status {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.notActive {
  background-color: #f4f4f4 !important;
  color: #444 !important;
  border-color: #ddd !important;
}
.validationMessage {
  color: red;
}
.skin-blue .sidebar-menu > li:hover > a {
  color: #fff;
  background: #404040;
  border-left-color: #3c8dbc;
  font-weight: 700;
}
.skin-blue .sidebar-menu > li.active > a {
  color: #fff;
  background: #757575;
  border-left-color: #3c8dbc;
  font-weight: 700;
}